.copyrights {
	color: #808183;
}
/*-----------------------------------------------------------------------------------*/
/*  Block Editor
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*  Blocks
/*-----------------------------------------------------------------------------------*/
.case_study_sec_1 {
	background-color: $bg-danger;
	width: 100%;
	height: auto;
	min-height: 300px;
	h1 {
		font-size: $px45;
		font-weight: 500;
		line-height: 60px;
	}
}
