/*------------------------------------------*/
/*   BLog
/*------------------------------------------*/
.post-template-default {
	#wrapper {
		main {
			min-height: 700px;
		}
	}
}
.page-id-8 {
	//BLOG TEMPLATE
	.picture {
		width: 50%;
		@media (max-width: $md) {
			width: auto;
			margin: auto;
		}
		img {
			display: block;
			margin: 0 auto;
			height: auto;
			width: 100%;
		}
	}
}
.page-id-1507 {
	//GUIDE TEMPLATE
	background: transparent;
}

#blog-pg {
	h1 {
		margin: 20px 0 !important;
	}
	//sec1
	.intro-banner {
		background: #f3f6f9;
		z-index: 1;
		display: flex;
		.row {
			display: flex;
			flex-direction: row;
			margin: 3rem 0px;

			article {
				display: flex;
				flex-direction: column;
				flex: 1;
				@media (max-width: $md) {
					p {
						text-align: center;
						margin-top: 40px;
					}
				}
			}
			.picture {
				display: flex;
				flex: 1;
				justify-content: center;
				align-items: center;
			}
			.banner-content {
				text-align: left;
			}
			h1 {
				margin: 0px;
			}
		}
		@media (max-width: $md) {
			.picture {
				text-align: center;
				img {
					max-width: 100%;
					height: auto;
				}
			}
			.row {
				display: flex;
				flex-direction: column-reverse;
				margin: 3rem 0px;
			}
		}
		.container {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			@media (max-width: $md) {
				flex-direction: column-reverse;
			}
			//Col1 de intro banner
			.content {
				display: flex;
				flex: 1;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				@media (max-width: $md) {
					margin-top: 2rem;
				}
				h1 {
					text-align: left;
				}
				.banner-content {
					text-align: left;
				}
			}
			//Col2 de intro banner
			.picture {
				display: flex;
				flex: 1;

				img {
					display: block;
					margin: 0 auto;
					height: 100%;
					width: auto;
				}
			}
		}
	}
	.post-cat__link_active {
		color: $teal !important;
		&:before {
			color: $teal;
			content: '⬤';
			position: absolute;
			top: calc(100% + 11px);
			left: calc(50% - 3px);
			font-size: 7px;
			line-height: 0;
		}
	}
	.post-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: self-start;
		margin-top: 2rem;
		.box {
			min-width: 300px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-content: center;
			margin-bottom: 20px;
			min-height: 550px;

			@media (min-width: $lg) {
				width: calc(33.3% - 30px);
				min-height: 630px;
			}
			@media (max-width: $lg) {
				width: calc(50% - 20px) !important;
				min-height: 630px;
			}
			@media (max-width: $md) {
				width: 100% !important;
			}

			figure {
				width: 100%;
				text-align: center;
				flex: 1;
				margin: 0px;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 200px;

				img {
					height: 100%;
					width: auto;
				}
			}

			@media (max-width: $md) {
				width: 500px;
				margin: 4rem auto;
			}

			.content {
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				flex: 2;
				display: flex;
				h3 {
					font-weight: 700;
					font-size: 20px;
					line-height: 25px;
					color: #0a0a0a;
					transition: color 0.2s;
					flex: 1;
					justify-content: center;
					align-items: center;
					display: flex;
					margin: 20px 0px;
				}
				.description {
					font-weight: 300;
					font-size: 15px;
					line-height: 23px;
					color: #0a0a0a;
					flex: 2;
				}
				.arrow {
					height: 30px;
				}

				.cat {
					color: gray;
					border-top: 1px solid #b8b8b8;
					margin: 5px 0;
					margin-top: 5px;
					width: 100%;
					max-height: 50px;
					padding-top: 10px;
					display: flex;
					justify-content: flex-start;
					flex-direction: row;
					align-items: center;
					margin-top: 10px;
				}
			}
		}
	}
	.moveup {
		top: -50px;
	}
	.labelMenu {
		cursor: pointer;
	}
	.menu {
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0px;
		padding: 0px;
		position: relative;
		flex-direction: row;
		min-height: 100px;
		padding-left: 2rem;
		overflow: hidden;
		height: 70px;

		&.active {
			height: auto;
			.btnClose {
				@media (max-width: $md) {
					position: absolute;
					right: 0px;
					height: 100px;
					display: flex;
					justify-content: center;
					align-items: center;
					top: 0px;
				}
			}
		}
		.labelMenu {
			display: none !important;
		}
		@media (max-width: $md) {
			align-items: flex-start;
			.labelMenu {
				display: flex !important;
			}
			flex-direction: column;
			padding-left: 0px;
		}
		.post-cat__item,
		.labelMenu {
			margin: 0px;
			@media (max-width: $md) {
				flex-direction: column;
				margin: 0;
				height: 100px;

				width: 100%;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.labelMenu {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding-left: 20px;
			font-size: 1.2rem;
			flex-direction: row;
			span {
				color: $prim-purple;
				margin-left: 2rem;
				&:after {
					content: '▼';
					font-size: 1rem;
					margin-left: 0.5rem;
				}
			}
		}
		.btnClose {
			color: $prim-purple;
			transition: all 0.3s;
			width: 50px;
			height: 50px;
			cursor: pointer;
			@media (max-width: $md) {
				position: absolute;
				right: 0px;
				height: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&:before {
				color: #090909;
				transition: all 0.3s;
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 2rem;
				content: '\26B2';
				transform: rotate(45deg);
			}
		}
		&.searchActive {
			@media (max-width: $md) {
				height: 180px;
			}
			.labelMenu {
				display: none !important;
			}
			.post-cat__item {
				display: none !important;
			}
			.post-cat__search {
				display: flex !important;
				width: 90%;
			}
			.btnClose {
				top: 0px;
				&:before {
					content: '✖' !important;
					transform: rotate(0deg);
				}
			}
		}
	}
	.post-cat__link {
		font-weight: 300;
		font-size: 20px;
		line-height: 23px;
		color: #0a0a0a;
		white-space: nowrap;
		transition: color 0.2s;
		text-decoration: none;
		position: relative;

		&:hover {
			color: $prim-purple;
		}
	}

	.post-cat__search {
		right: 0px;
		top: 0px;
		padding: 0px;
		margin: 0px;
		justify-content: center;
		display: flex;
		align-items: center;
		align-content: center;
		width: 0px;
		overflow: hidden;
		transition: all 0.8s;
		display: none;
		.search-form {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
		}
		label {
			margin: 0;
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1.5;
			color: #0a0a0a;
			display: flex;
			flex: 2;
			input {
				margin: 0px 20px;
				flex: 1;
				background: #f3f6f9;
				outline: none;
				border: 2px solid transparent;
				box-shadow: none;
				color: #000;
				font-size: 18px;
				line-height: 1.2;
				border-radius: 4px;
				padding: 14px 16px;
				height: 60px;
				display: flex;
				margin: 1rem;
			}
		}
		.search-submit {
			max-width: 250px;
			flex: 1;
			background: $prim-purple;
			color: #fff;
			border: 3px solid transparent;
			border-radius: 3px;
			outline: none;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 0.075em;
			font-weight: 700;
			padding: 0px;
			margin: 0px;
			position: relative;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width: $md) {
				margin: auto;
			}
		}
	}
}

.post-list {
	.box {
		padding: 20px;
		min-width: 300px;
		margin-bottom: 20px;
		width: calc(33.3% - 20px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: center;
	}
}

/*------------------------------------------*/
/*   BLog SINGLE
/*------------------------------------------*/
#blog-single {
	font-family: $font-Avenir;
	font-size: 18px;
	line-height: 31px;
	color: #0a0a0a;
	.author {
		&:after {
			content: '●';
			margin: 10px;
			font-size: 12px;
		}
	}
	.intro-banner {
		h1 {
			text-align: center;
		}
	}
	.narrow {
		padding: 0 5vw;
	}
	p,
	span,
	ul,
	ol,
	li {
		font-family: $font-Avenir;
		font-weight: 300;
		font-size: 18px;
		line-height: 31px;
		color: #0a0a0a;
	}
	.intro_light {
		.intro_wrapper {
			@media (max-width: $md) {
				padding-bottom: 0px;
				background-size: contain;
			}
		}
	}

	.headline {
		.block-intro-plain {
			font-weight: 400;
			text-align: center;
			color: $teal;
			font-size: 18px;
			line-height: 22px;
			span {
				color: $teal;
			}
		}
	}
	.banner-content {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: flex-end;
		margin: 0px auto;

		h1 {
			font-weight: 700;
			margin-bottom: 35px;
			font-size: 55px;
			line-height: 64px;
			color: #0a0a0a;
		}
		p {
			font-style: italic;
			font-weight: 300;
			font-size: 15px;
			line-height: 26px;
			color: #828282;
		}
		.author {
			display: flex;
			justify-content: center;
			align-items: center;
			.name {
				margin: 0px;
			}
			.image {
				height: 36px;
				width: 31px;
				display: flex;
				background-position: center;
				background-size: cover;
				background-image: none;
			}
		}
		.author,
		.time {
			margin: 0px;
			padding: 0px;
		}
	}

	//sec1

	//sec2
	.article-post {
		z-index: 5 !important;
		position: relative;
		h2 {
			font-family: $font-Avenir;
			font-size: 26px;
			line-height: 36px;
			padding-top: 35px;
		}
		a {
			color: black;
		}
		.post-img {
			padding: 82px 95px 50px;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			background: #fff;
			margin: -316px auto 80px;
			box-sizing: border-box;
			text-align: center;
			img {
				max-width: 100%;
				height: auto;
			}
			@media (max-width: $md) {
				& {
					padding: 0px;
					img {
						width: 100%;
						height: auto;
						padding: 20px;
					}
				}
			}
		}
		.entry-content {
			max-width: 836px;
			padding-left: 15px;
			padding-right: 15px;
			margin: 0 auto;

			font-weight: 300;
			font-size: 18px;
			line-height: 31px;
			color: #0a0a0a;
			h2 + p {
				padding-top: 32px;
			}
			p + blockquote {
				margin-top: 20px;
			}
			blockquote {
				font-family: $font-Avenir;
				position: relative;

				p {
					font-family: $font-Avenir;
					padding-left: 110px;
					margin-bottom: 0;
					font-style: italic;
					font-weight: 400;
					font-size: 18px;
					line-height: 32px;
					color: hsla(0, 0%, 4%, 0.6);
					text-align: left;
				}
				&:before {
					content: '';
					display: block;
					width: 68px;
					height: 68px;
					position: absolute;
					top: 8px;
					left: 0;
					background: url(../../inc/images/icon-quote.svg) no-repeat;
					background-size: auto;
					background-size: contain;
				}
			}
		}
	}
	.newsletter {
		@media (max-width: $md) {
			margin-bottom: 20px;
		}
	}
	.form {
		height: 200px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		div {
			width: 100%;
		}
		.hs_email {
			min-width: 50%;
		}

		@media (max-width: $md) {
			& > div {
				display: flex;
				align-content: flex-start;
				align-items: stretch;
				min-width: 100%;
				div {
					width: 100%;
				}
			}
		}

		#hsForm_6897e48c-787e-44bb-a1b7-d5acda7c2f37 {
			margin-bottom: 2rem;
			display: flex;
			justify-content: space-around;
			position: relative;
			padding: 56px 80px 60px;
			margin: 0 auto;
			width: 836px;
			background-color: #f3f6f9;
			min-height: 200px;
			align-items: center;

			.hs-error-msgs {
				position: relative;
				bottom: 20px !important;
				list-style-type: none;
				color: red;
			}

			.hs_email {
				flex: 1;
				margin-right: 20px;
				justify-content: flex-start;
				align-items: flex-end;
				display: flex;
				margin-left: 20px;

				.input {
					display: flex;
					min-width: 100%;
					position: relative;
					background-color: white;
					margin: 0 16px 0 15px;
					margin-left: 20px !important;
					height: 55px;
					@media (max-width: $md) {
						margin-left: 0px !important;
					}
					&:before {
						content: 'Sign up for our newsletter';
						min-width: 100%;
						position: absolute;
						top: -40px;
						font-weight: 700;
						font-size: 24px;
						line-height: 34px;
						color: #000;
					}
				}
			}

			@media (max-width: $md) {
				flex-direction: column;
				height: 100px;
				min-width: 100%;
				padding: 0px 10px;

				.no-list {
					bottom: -50px !important;
				}
				.hs_email {
					margin: 0px;
				}
				.hs-submit {
					bottom: 0px;
					margin: 1rem;
				}
			}
			.no-list.hs-error-msgs.inputs-list {
				position: absolute;
				bottom: -30px;
			}
			.hs_error_rollup {
				display: none;
			}
			.actions {
				width: 100%;
				padding: 0px;
				margin: 0px;
				text-align: center;
			}
			.hs-button {
				margin: 0;
				height: 55px;
				border: 2px solid transparent;
				width: 200px;
				color: #fff;
				background-color: $tealdrk;

				&:hover {
					color: white;
					background-color: $prim-purple;
				}
			}
			#label-email-6897e48c-787e-44bb-a1b7-d5acda7c2f37 {
				display: none;
			}
			#email-6897e48c-787e-44bb-a1b7-d5acda7c2f37 {
				border: none;
				width: 100%;
				background-color: white;
				color: #6a6a6a;
				font-size: 14px;
				padding: 1.056em 0;
				border-radius: 0;
				margin: 0 16px 0 0;
				margin-left: 1rem;
			}
		}

		.hs-error-msgs {
			display: block;
			margin: 0px;
			font-size: 14px;
			font-weight: 400;
			color: #d14434;
			position: absolute;
			bottom: 2px;
		}
	}
	.section-4 {
		.post-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: self-start;
			margin-top: 2rem;
			.box {
				min-width: 300px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-content: center;
				margin-bottom: 20px;
				min-height: 550px;

				@media (min-width: $lg) {
					width: calc(33.3% - 30px);
					min-height: 630px;
				}
				@media (max-width: $lg) {
					width: calc(50% - 20px) !important;
					min-height: 630px;
				}
				@media (max-width: $md) {
					width: 100% !important;
				}

				figure {
					width: 100%;
					text-align: center;
					flex: 1;
					margin: 0px;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 200px;

					img {
						height: 100%;
						width: auto;
					}
				}

				@media (max-width: $md) {
					width: 500px;
					margin: 4rem auto;
				}

				.content {
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					flex: 2;
					display: flex;
					a {
						text-decoration: none;
					}
					h3 {
						font-weight: 700;
						font-size: 20px;
						line-height: 25px;
						color: #0a0a0a;
						transition: color 0.2s;
						flex: 1;
						justify-content: center;
						align-items: center;
						display: flex;
						margin: 20px 0px;
					}
					.description {
						font-weight: 300;
						font-size: 15px;
						line-height: 23px;
						color: #0a0a0a;
						flex: 2;
						height: 220px;
						max-height: 220px;
					}
					.arrow {
						height: 30px;
					}

					.cat {
						color: gray;
						border-top: 1px solid #b8b8b8;
						margin: 5px 0;
						margin-top: 5px;
						width: 100%;
						max-height: 50px;
						padding-top: 10px;
						display: flex;
						justify-content: flex-start;
						flex-direction: row;
						align-items: center;
						margin-top: 10px;
						span {
							color: gray;
						}
					}
				}
			}
		}
	}
}
