/*------------------------------------------*/
/*   contactus
/*------------------------------------------*/
#contact-us {
	.form-columns-2 {
		min-width: 100%;
		max-width: 100% !important;
		display: flex;
		flex: 1;
		flex-wrap: wrap;
	}
	.hs_submit {
		width: 50%;
		max-width: 200px;
		margin-left: 20px;
		margin-top: 30px;
	}
	.hs-form-checkbox {
		label {
			input {
				width: 20px !important;
				display: block;
				float: left;
				min-width: 20px;
				margin-right: 20px;
			}
			span {
				width: 50%;
				display: flex;
			}
		}
	}
}

// #contact-us {
// 	.intro-banner {
// 		position: relative;
// 		padding: 0px;
// 		//background: #f3f6f9 url(../../inc/images/bg-contact.jpg) no-repeat top;
// 		background: #f3f6f9 url(../../inc/images/bg-404.jpg) no-repeat top;
// 		background-size: 100%;
// 		color: white;
// 		@media (max-width: $md) {
// 			background-size: cover;
// 			h1 {
// 				margin-top: 0px;
// 			}
// 		}

// 		h1,
// 		.subhead {
// 			color: white !important;
// 		}
// 	}
// 	.actions {
// 		margin: 50px auto !important;
// 	}
// 	.button {
// 		margin: 4rem auto;
// 	}
// 	h2,
// 	h3 {
// 		color: rgb(0, 0, 0);
// 	}
// 	.headline,
// 	h1 {
// 		text-align: center;
// 	}
// 	.hs-form-radio {
// 		span {
// 			min-height: 100px;
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			flex-direction: column;
// 		}
// 	}
// 	@media (max-width: $md) {
// 		.hs-form-checkbox {
// 			.input input {
// 				width: 10% !important;
// 				margin: 0.5rem 0;
// 				margin-right: 0px;
// 				margin-right: 20px;
// 			}
// 		}
// 	}
// }
