/*------------------------------------------*/
/*   contactus
/*------------------------------------------*/
#contact-us {
	.form-columns-2 {
		min-width: 100%;
		max-width: 100% !important;
		display: flex;
		flex: 1;
		flex-wrap: wrap;
	}
	.hs_submit {
		width: 50%;
		max-width: 200px;
		margin-left: 20px;
		margin-top: 30px;
	}
	.hs-form-checkbox {
		label {
			input {
				width: 20px !important;
				display: block;
				float: left;
				min-width: 20px;
				margin-right: 20px;
			}
			span {
				width: 50%;
				display: flex;
			}
		}
	}
}
#contact-us .hs_submit {
	position: relative;
	bottom: 0;
}
