/*------------------------------------------*/
/*   contactus
/*------------------------------------------*/
#contact-us {
	.intro-banner {
		position: relative;
		padding: 0px;
		//background: #f3f6f9 url(../../inc/images/bg-contact.jpg) no-repeat top;
		background: #f3f6f9 url(../../inc/images/bg-404.jpg) no-repeat top;
		background-size: 100%;
		color: white;
		@media (max-width: $md) {
			background-size: cover;
			h1 {
				margin-top: 0px;
			}
		}

		h1,
		.subhead {
			color: white !important;
		}
	}
	.actions {
		margin: 50px auto !important;
	}
	.button {
		margin: 4rem auto;
	}
	h2,
	h3 {
		color: rgb(0, 0, 0);
	}
	.headline,
	h1 {
		text-align: center;
	}
	.hs-form-radio {
		span {
			min-height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}
}
