#customer-success {
	.intro-banner {
		min-height: 445px;

		.video-youtube {
			position: relative;
			.icon-video {
				position: absolute;
				left: calc(50% - 30px);
				top: calc(50% - 30px);
			}
			.img-video {
				max-width: 100%;
			}
		}
	}

	.bar {
		select {
			height: 35px;
			background: white;
			border: none;
			padding: 10px;
			margin: 5px;
			width: 150px;
		}
	}
	.youtube {
		height: 600px;
		position: relative;
		.icon-video {
			position: absolute;
		}
	}
	.filter {
		margin-top: -80px;
		min-height: 125px;
		z-index: 99;
		position: relative;
		.bg-purple {
			min-height: 125px;
		}
	}

	.featured {
		background: white;
		border-radius: 0px;
	}
	.bg-gray {
		background: #f2f2f2;
	}
	.customers-boxes {
		.box {
			min-height: 480px;
			position: relative;
			figure {
				margin: auto;
				max-height: 100px;
				min-height: 100px;
				img {
					max-width: 150px;
					height: auto;
				}
			}
			.tag {
				background: #f2f2f2;
				color: black;
				font-size: 10px;
				padding: 0px;
				max-width: 60px;
				height: 30px;
				position: absolute;
				bottom: 20px;
				margin: 0px;
			}
			.description {
				text-align: left;
				color: gray;
				font-family: $font-Avenir-roman;
				font-size: 16px;
				line-height: 30px;
			}
			.w-arrow {
				margin: 0px;
				font-size: 16px !important;
			}
		}
	}
	.customer_banner_title {
		font-style: normal;
		font-size: $px18;
		line-height: 140%;
		/* or 25px */
		letter-spacing: 0.2em;

		color: $prim-purple;
	}

	.featuredstory-logo {
		position: relative;
		&:after {
			content: '';
			height: 50%;
			width: 1px;
			background-color: rgb(163, 163, 163);
			right: 50px;
			display: flex;
			position: absolute;
			top: 25%;
		}
		@media (max-width: $md) {
			&:after {
				display: none;
			}
		}
	}
	.featured_text {
		font-family: $font-light;
		font-weight: 600;
		font-size: $px18;
		line-height: 140%;
		letter-spacing: 0.2em;
	}

	.customer_banner_subtitle {
		font-family: $font-Bold;
		font-weight: 600;
		font-size: $px35;
		line-height: 140%;
		color: $prim-purple;
	}
	.customer_banner_content {
		p {
			@extend .customer_banner_subtitle;
			color: black;
			font-style: normal;
			font-weight: bold;
			line-height: 46px;
		}
	}

	.featured_content {
		font-family: $font-light;
		font-size: $px22;
		line-height: 37px;
		color: #444444;
		position: relative;
	}
	.quote_name {
		color: $prim-purple;
	}
	.quote_profession {
		font-weight: bold;
	}
	.quote_content {
		position: relative;
		:after {
			color: $prim-purple;
			position: absolute;
			left: 0;
			content: url('../../inc/images/quote.svg');
			background-repeat: no-repeat;
			top: -3rem;
			font-family: $font-fair-bold;

			// @media (max-width: $md) {
			// 	top: 0rem !important;
			// 	top: 60px;
			// }
		}
	}
	.g2-content {
		p:first-child {
			@media (max-width: $md) {
				text-align: center;
			}
		}
	}
	.g2 {
		.badges {
			max-width: 100%;
		}
		p {
			font-family: $font-light;
		}
		b,
		strong {
			font-family: $font-Bold;
		}
		ul {
			list-style: none; /* Remove default bullets */
			padding-left: 1rem;
			li {
				margin: 0;
				&::before {
					content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
					color: $prim-purple; /* Change the color */
					font-weight: bold; /* If you want it to be bold */
					display: inline-block; /* Needed to add space between the bullet and the text */
					width: 1em; /* Also needed for space (tweak if needed) */
					margin-left: -1em; /* Also needed for space (tweak if needed) */
				}
			}
		}
	}

	// ==================================
	// Circles
	// ==================================

	$circleSize: 80px;
	$circleSizeinter: 70px; //-20
	$clip-path: circle(150% at 92px 30px);
	$clip: rect(0, 100px, 150px, 40px);
	.circle-wrap {
		width: $circleSize;
		height: $circleSize;
		background: #e6e2e7;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		.circle {
			display: flex;
			justify-content: center;
			align-items: center;
			&.full-9 {
				$circleDeg: 160deg;
				$color: pink;
				.mask {
					clip: $clip;
					.fill {
						clip-path: $clip-path;
						background-color: $color;
					}
				}
				.mask.full,
				.fill {
					animation: fill ease-in-out 3s;
					transform: rotate($circleDeg); //este controla el lleno
				}
				@keyframes fill {
					0% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate($circleDeg);
					}
				}
				.mask,
				.fill {
					width: $circleSize;
					height: $circleSize;
					position: absolute;
					border-radius: 50%;
				}
			}
			&.full-8 {
				$circleDeg: 140deg;
				$color: red;
				.mask {
					clip: $clip;
					.fill {
						clip-path: $clip-path;
						background-color: $color;
					}
				}
				.mask.full,
				.fill {
					animation: fill ease-in-out 3s;
					transform: rotate($circleDeg); //este controla el lleno
				}
				@keyframes fill {
					0% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate($circleDeg);
					}
				}
				.mask,
				.fill {
					width: $circleSize;
					height: $circleSize;
					position: absolute;
					border-radius: 50%;
				}
			}
		}
		.circle-1 {
			$color: #fc4b36 !important;
			.mask .fill {
				background-color: $color;
			}
			.inside-circle {
				color: $color;
			}
		}
		.circle-2 {
			$color: #5a3d9f !important;
			.mask .fill {
				background-color: $color;
			}
			.inside-circle {
				color: $color;
			}
		}
		.circle-3 {
			$color: #2e91cb !important;
			.mask .fill {
				background-color: $color;
			}
			.inside-circle {
				color: $color;
			}
		}
		.inside-circle {
			width: $circleSizeinter;
			height: $circleSizeinter;

			border-radius: 50%;
			background: #fff;

			position: absolute;
			z-index: 100;
			font-weight: 700;
			font-size: 2em;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	// ==================================
	// Circle ends
	// ==================================
}
