#demo {
	.intro-banner {
		position: relative;
		min-height: 600px;
		background: #664fb7 url(../../inc/images/bg-demo.jpg) no-repeat top;
		background-size: auto;
		background-size: 100%;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		h1 {
			color: white;
			text-align: center;
		}
		.banner-content {
			text-align: center;
			color: white;
		}
	}
	.box-with-tab {
		margin: 0px 40px;
		background-image: none;
		margin-top: -100px;
		background-size: auto;
		background-size: contain;
		&:after {
			background: url(../../inc/images/side-guide-full-t.svg) no-repeat !important;
		}
	}

	.hs-form-radio {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		input {
			max-width: 20px;
			margin: 40px;
			padding: 40px;
		}
		span {
			max-height: 50px;
		}
	}
	.box-with-tab .multi-container li label {
		font-size: 14px;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
	}
	.hs-form-checkbox-display {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		input {
			max-width: 50px;
			margin: 0px;
			padding: 0px;
		}
	}
}
.hbspt-form {
	width: 100%;
}
#label-subscribe_to_company_and_industry_updates-889464f6-ad79-4e62-8771-8a9739c2a7cc {
	width: 100%;
	text-align: center;
}
