@import 'variables';
@import 'typography';
@import 'menu';
//@import '../css/bootstrap.css';

/*-----------------------------------------------------------------------------------*/
/*  DECLARATE 
/*-----------------------------------------------------------------------------------*/

*,
*:before,
*:after {
	transition: all 0.5;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	line-height: $lh-sm;
	font-family: $font-Avenir-roman;

	@media (max-width: $md) {
		* {
			line-height: initial !important;
		}
	}
}

html,
body {
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth;
	background-color: white;

	// @media (max-width: $md) {
	// 	font-size: 16px;
	// }
	// @media (min-width: $md) {
	// 	font-size: 16px;
	// }
	// @media (min-width: $lg) {
	// 	font-size: 16px;
	// }
}
body {
	margin: 0;
	padding: 0;
	position: relative;
}
footer {
	h3 {
		color: white !important;
	}
	ul {
		li {
			margin: 0px;
		}
	}
}
ul {
	@media (max-width: $md) {
		padding-left: 2rem !important;
	}

	li {
		line-height: $px24;
		margin-bottom: $px24;
	}
}
.shadow {
	&-top_out {
		position: relative;
		&::before {
			@include shadowTop;
		}
	}
	&-bottom_out {
		position: relative;
		&::after {
			@include shadowBottom;
		}
	}
}
.imgWrap {
	max-width: 500px !important;
}
.modal {
	&.show {
		display: flex;
		// background: #00000094;
	}
	&-dialog {
		transition: all 0.5s;
		width: 80vw;
		max-width: 900px;
	}
	&-content {
		height: 100%;
		max-height: 1100px;
	}
	iframe {
		min-width: 100%;
		height: 100%;
		border: none;
		form {
			max-width: 100%;
		}
	}
}
#wrapper {
	overflow: hidden;
	& > main {
		min-height: 700px;
		@media (max-width: $md) {
			margin-top: 60px;
		}
	}
}

.shadow-bottom {
	box-shadow: inset 0 -10px 15px -15px #00000078;
}

.row {
	position: relative;
	z-index: 2;
}
.full-bar {
	min-width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	flex-wrap: wrap;

	min-height: $fullbar-small;
}

.arrow,
.w-arrow {
	letter-spacing: normal;
	text-decoration: none;
	position: relative;
	display: flex;
	align-items: center;
	font-size: $f_md !important;
	text-align: center;
	color: $prim-purple;
	white-space: nowrap;
	justify-content: flex-start;
	font-family: $font-Avenir-heavy;
	margin: auto;
	&:after {
		content: url('../../inc/images/icon-arrow-p-light.svg');
		position: relative;
		transition: all 1s;
		background-position: center;
		display: inline-block;
		width: 25px;
		height: 20px;
		margin-left: 10px;
	}
	&:hover {
		color: red;
		text-decoration: none;
		&:after {
			margin-left: 20px;
		}
	}

	@media (max-width: $md) {
		white-space: normal;
		font-size: 17px !important;
		margin: auto;
	}
	&-center {
		justify-content: center;
	}

	&-start {
		justify-content: flex-start;
	}
}
.bg-purple {
	.arrow,
	.w-arrow {
		min-width: 100%;
	}
}

.modal-header {
	border-bottom: none;
}
.ul-checkmark {
	@include ul-checkmark;
}
.error404 {
	h2,
	h1 {
		color: white !important;
	}
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-Bold;
}
h2 {
	font-size: $f_lg;
}
b,
strong {
	font-family: $font-Avenir-heavy;
}

.title {
	font-size: $f_h2;
	font-family: $font-Avenir-heavy;
	min-width: 100%;
	text-align: center;
	margin-bottom: $mb-titles;
	color: white;
	@media (max-width: $md) {
		text-align: center !important;
		justify-content: center !important;
	}
	&-purple {
		color: $prim-purple !important;
	}
}

.subtitle,
.sub_heading {
	font-size: $f_md;
}
.less-important {
	font-size: $f_sm;
	color: $prim-purple-less;
}
.content-center {
	margin: auto !important;
}

.cta {
	height: 575px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	background-color: $prim-purple;
	.row {
		display: flex;
		flex-direction: column;
	}
	h2 {
		text-align: center;
		color: #fff;
		margin-bottom: 40px;
	}
}

.announcements {
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: pulse 2s;
	.announcements-wrap {
		align-items: center;
		display: flex;
		justify-content: center;
		p {
			margin-bottom: 0px;
		}
		img {
			margin-right: 10px;
		}
	}
}
.banner-404 {
	h1 {
		font-size: 250px;
		line-height: 1;
		margin: 0;
		font-weight: bold;
		color: white;
	}
	h2 {
		color: white;
	}
	.search-form {
		margin: 4rem;
	}
	position: relative;
	background: $prim-purple url(../../inc/images/bg-404.jpg) no-repeat top;
	background-size: 100%;
	color: #fff;

	line-height: 1.5;

	justify-content: center;
	align-content: center;
	flex-direction: column;
	align-items: center;
	.headline {
		display: flex;
		flex-direction: column;
		@include flexCenter;
		min-height: 1000px;
	}
	.screen-reader-text {
		display: none;
	}
	.search-field {
		border: none;
		background-color: #fff;
		color: #6a6a6a;
		font-size: 14px;
		padding: 1.056em 0;
		border-radius: 0;
		margin: 0 16px 0 0;
		width: 300px;
	}

	.search-submit {
		margin: 0;
		height: 55px;
		border: 2px solid transparent;
		width: 200px;
		color: #fff;
		background-color: #229295;
	}
}

.intro_light {
	.imgWrapper {
		background-image: url('../../inc/images/background-light.svg');
		padding-bottom: 417px;
		padding-top: 70px;
		background-repeat: no-repeat;
		width: 100%;
		background-position: 50%;
		background-size: cover;
	}
	.intro_wrapper {
		@media (max-width: 640px) {
			padding-bottom: 417px;
		}
		@media (max-width: 540px) {
			padding-bottom: 300px;
		}

		.intro_headline {
			.intro_cat {
				color: #5cc1c3;
				margin-bottom: 23px;
				font-size: 18px;
				line-height: 22px;
				@media (max-width: 640px) {
					font-size: 21px;
				}
			}

			.intro_line {
				display: none;
			}

			.intro_wrap {
				display: flex;
				justify-content: center;
				margin-bottom: 20px;
				@media (max-width: 640px) {
					justify-content: space-around;
				}
			}

			.intro_title {
				color: #000000;
				margin-bottom: 27px;
				font-size: 45px;
				line-height: 55px;
				@media (max-width: 640px) {
					font-size: 24px;
					line-height: 31px;
					margin-bottom: 15px;
				}
			}

			.intro_date {
				display: flex;
				float: left;
				color: #867c7c;
				justify-content: center;
				margin-right: 27px;
				font-family: 'Brown', sans-serif;
				font-style: italic;
				font-weight: 300;
				font-size: 18px;
				line-height: 31px;
				@media (max-width: 640px) {
					font-size: 16px;
					line-height: 27px;
					margin-right: 0;
				}
			}

			.intro_author {
				color: #867c7c;
				display: flex;
				justify-content: center;
				font-family: 'Brown', sans-serif;
				font-style: italic;
				font-weight: 300;
				font-size: 18px;
				line-height: 31px;
				@media (max-width: 640px) {
					font-size: 16px;
					line-height: 27px;
				}
			}
		}
	}
}

.intro_lighter {
	background-image: url('../../inc/images/background-lighter.svg');
	background-repeat: no-repeat;

	.intro_wrapper {
		padding-bottom: 417px;
		padding-top: 70px;

		@media (max-width: 640px) {
			padding-bottom: 417px;
		}
		@media (max-width: 540px) {
			padding-bottom: 300px;
		}

		.intro_headline {
			.intro_cat {
				color: #664fb7;
				margin-bottom: 23px;
				font-size: 18px;
				line-height: 22px;
				@media (max-width: 640px) {
					font-size: 21px;
				}
			}

			.intro_line {
				display: none;
			}

			.intro_wrap {
				display: flex;
				justify-content: center;
				margin-bottom: 20px;
				@media (max-width: 640px) {
					justify-content: space-around;
				}
			}

			.intro_title {
				color: #000000;
				margin-bottom: 27px;
				font-size: $px45;
				line-height: 55px;
				@media (max-width: 640px) {
					font-size: 24px;
					line-height: 31px;
					margin-bottom: 15px;
				}
			}

			.intro_date {
				display: flex;
				float: left;
				color: #867c7c;
				justify-content: center;
				margin-right: 27px;
				font-family: 'Brown', sans-serif;
				font-style: italic;
				font-weight: 300;
				font-size: $px18;
				line-height: 31px;
				@media (max-width: 640px) {
					font-size: 16px;
					line-height: 27px;
					margin-right: 0;
				}
			}

			.intro_author {
				color: #867c7c;
				display: flex;
				justify-content: center;
				font-family: $font-Medium;
				font-style: italic;
				font-weight: 300;
				font-size: $px18;
				line-height: $lh_md;
				@media (max-width: 640px) {
					font-size: 16px;
					line-height: 27px;
				}
			}
		}
	}
}

.intro_dark {
	background-repeat: no-repeat;
	background-image: url('../../inc/images/background-dark.svg');
	background-size: cover !important;
	.intro_wrapper {
		padding-bottom: 417px;
		padding-top: 70px;

		@media (max-width: 640px) {
			padding-bottom: 417px;
		}
		@media (max-width: 540px) {
			padding-bottom: 300px;
		}

		.intro_headline {
			.intro_cat {
				color: white;
				margin-bottom: 23px;
				font-size: $px18;
				line-height: 22px;
				@media (max-width: 640px) {
					font-size: 21px;
				}
			}

			.intro_line {
				display: none;
			}

			.intro_wrap {
				display: flex;
				justify-content: center;
				margin-bottom: 20px;
				background-position: 50%;
				background-repeat: no-repeat;
				background-size: cover;
				@media (max-width: 640px) {
					justify-content: space-around;
				}
			}

			.intro_title {
				color: #ffffff !important;
				margin-bottom: 27px;
				font-size: $px45;
				line-height: 55px;
				@media (max-width: 640px) {
					font-size: $px24;
					line-height: 31px;
					margin-bottom: 15px;
				}
			}

			.intro_date {
				display: flex;
				float: left;
				color: white;
				justify-content: center;
				margin-right: 27px;
				font-family: 'Brown', sans-serif;
				font-style: italic;
				font-weight: 300;
				font-size: $f_paragraph;
				line-height: 31px;
				@media (max-width: 640px) {
					font-size: 16px;
					line-height: 27px;
					margin-right: 0;
				}
			}

			.intro_author {
				color: white;
				display: flex;
				justify-content: center;
				font-family: $font-Medium;
				font-style: italic;
				font-weight: 300;
				font-size: $px18;
				line-height: 31px;

				@media (max-width: 640px) {
					line-height: 27px;
				}
			}
		}
	}
}

.box {
	position: relative;
	justify-content: flex-start;
	flex-wrap: wrap;
	background: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	min-height: 400px;
	align-items: flex-start;
	padding: 90px 80px 10px;
	transition: all 0.5s;
	z-index: 10;

	@media (max-width: $md) {
		padding: 20px !important;
		.content {
			font-size: $f_paragraph;
		}
	}
}

.moveup {
	position: relative;
	top: -150px;
	@media (max-width: $md) {
		top: -50px;
	}
}
.px5 {
	padding: 0px 5vw;
}
.headline {
	.title {
		font-size: $px35;
	}
	h2 {
		text-align: center;
		margin-bottom: $mb-titles !important;
	}

	.cta-btn {
		height: auto;
		min-height: 50px;
		display: flex;

		justify-content: flex-start;
		@media (max-width: $md) {
			justify-content: center;
		}
	}
}

/*---------------------------------------*/
/*  intro-banner
/*---------------------------------------*/
.intro-banner {
	position: relative;
	@include flexCenter;
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: stretch;
	display: flex;
	.pic {
		align-items: flex-end;
		display: flex;
	}
	.block-picture__img {
		max-width: 100%;
	}
	.container,
	.container {
		display: flex;
		.hero {
			min-width: 50%;
			align-items: center;
			justify-content: flex-end;
		}
		.content {
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: flex-start;
			flex-direction: column;

			@media (min-width: $md) {
				width: 50%;
			}
		}
		.headline {
			@media (min-width: $md) {
				height: 600px;
			}

			.content {
				.text {
					margin-top: $gap_md;
				}
			}
		}

		.button-purple {
			margin-top: $px20;
			color: white !important;
		}
	}

	h1 {
		text-align: left;
		margin-bottom: 2rem;
		height: auto;
		color: #0a0a0a;
		margin-top: 100px;
		min-width: 100%;

		@media (max-width: $md) {
			margin-top: 0px !important;
			text-align: center;
			font-size: 2.5rem;
		}
	}
	.banner-content {
		text-align: center;
	}

	.hero {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
	}
	.row {
		margin: auto;
	}

	@media (max-width: $md) {
		min-height: 300px !important;
		margin-top: 50px;
		.container,
		.container {
			flex-direction: column;
		}

		.headline {
			.cta-btn {
				justify-self: center;

				a {
					margin: 20px auto !important;
				}
				@media (max-width: $md) {
					margin: auto;
				}
			}
		}

		.hero {
			img {
				max-width: 100%;
				margin-top: 30px;
			}
		}

		.cta-btn {
			margin: auto;
			a {
				margin: 40px auto 0px !important;
			}
		}
	}
}

//Dark
.intro-banner {
	&.intro_dark {
		h1 {
			color: white;
		}
		.banner-content {
			color: white !important;
			p {
				color: #fff !important;
			}
		}
	}
}

//LIght
.intro-banner {
	&.intro_lighter {
		h1 {
			color: black;
		}
		.banner-content {
			color: #7d7d7d !important;
			p {
				color: #7d7d7d !important;
			}
		}
	}
}

/*---------------------------------------*/
/*  footer
/*---------------------------------------*/
.footer-banner {
	h4 {
		color: $prim-purple;
		min-width: 100%;
		text-align: center;
		margin-bottom: $m-lg;
	}
	.arrow {
		justify-content: center;
		a {
			color: $prim-purple;
		}
	}
}

/*---------------------------------------*/
/*  elements
/*---------------------------------------*/
.customers {
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	color: $prim-purple;
	line-height: 1.5;
	position: relative;
	padding: 0px;

	&:hover {
		:after {
			transition: all 0.3s;
			transform: translateX(40%);
		}

		.logos_carusel {
			filter: grayscale(0);
		}
	}
	h2 {
		padding: 0;
		margin: 0 0 26px;
		font-weight: 600;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		color: $gray-lighter;
		font-size: 1rem;
	}

	.logos_carusel {
		display: flex;
		flex-direction: row;
		position: relative;
		height: 90px;
		list-style-type: none;
		transition: all 2s;
		overflow: hidden;
		// max-width: 90%;
		margin: auto;
		filter: grayscale(1);

		@media (max-width: $md) {
			height: initial !important;
			padding: 0px !important;
		}

		img {
			max-width: 100%;
		}

		a {
			min-height: 50px;
			min-width: 250px;
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			justify-content: center;
			align-items: center;
			display: flex;
			margin: auto 0.2rem;
			@media (max-width: $md) {
				margin-right: 10px;
				margin-left: 10px;
				min-width: 250px;
			}
		}
		li {
			transition: all 1s;
			min-width: 200px;
			margin-right: 2%;
			margin-left: 2%;
			@include flexCenter;
			&:before {
				display: none !important;
			}
			@media (max-width: $md) {
				min-width: 100%;
			}
		}
		.activeLogo {
			opacity: 0;
			min-width: 0px;
			margin: 0px;
			img {
				transform: translateX(-100px);
			}

			transition: all 0.5s;
		}
	}

	.arrow,
	.w-arrow {
		justify-content: center;
	}
}
.quotes-from-client {
	padding: $p_lg;
	box-shadow: inset 0 20px 19px -7px rgba(0, 0, 0, 0.11);
	@media (max-width: $md) {
		padding-bottom: 0rem !important;
	}
	.container,
	.container {
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		.testimon-name {
			margin-top: $px16;
			font-size: $px28;
			font-weight: bold;
			font-family: $font-Bold;
		}
		.testimon-position {
			color: $prim-purple;
			font-family: $font-Avenir-heavy;
		}
		h2 {
			color: $prim-purple;
			display: flex;
			justify-content: center;
			margin-bottom: $mb-titles;
			min-width: 100%;
		}
		.imgcontainer {
			@include flexCenter;
			img {
				width: auto;
				height: auto;
				margin-right: 40px;
				max-width: 500px;
			}
			@media (max-width: $md) {
				margin-bottom: $m-md;
				img {
					margin-right: 0px;
				}
			}
		}
		.text {
			position: relative;
			line-height: $lh-sm;
			min-height: 300px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: $px32;
			:after {
				color: $prim-purple;
				position: absolute;
				left: 0;
				content: url('../../inc/images/quote.svg');
				background-repeat: no-repeat;
				top: 0rem !important;
				font-family: $font-fair-bold;

				@media (max-width: $md) {
					top: 0rem !important;
					top: 60px;
				}
			}
		}
	}
}
.quotes {
	padding: 5rem 0 5rem 0;
	color: white;
	//background-color: #fafafa;
	box-shadow: inset 0 7px 19px -7px rgba(0, 0, 0, 0.11);
	background-color: purple;
	.imgcontainer {
		@include flexCenter;
		img {
			max-width: 500px;
		}
	}

	h2 {
		margin-bottom: 4rem;
		text-align: center;
	}
}
.imgWrap {
	position: relative;
	max-width: 50%;
	margin: auto;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	@include flexCenter;
	img {
		width: 100%;
		height: auto;
	}
}

.post-list {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	.box,
	.col {
		min-width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: center;
		margin-bottom: 20px;
		min-height: 550px;

		@media (min-width: $lg) {
			width: calc(33.3% - 30px);
			min-height: 630px;
		}
		@media (max-width: $lg) {
			width: calc(50% - 20px) !important;
			min-height: 630px;
		}
		@media (max-width: $md) {
			width: 100% !important;
		}
	}
}

.boxShadow {
	overflow: hidden;
	box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.14);
	border-radius: 10px;
}

.two-block {
	@include flexCenter;
	flex-wrap: wrap;
	flex-direction: row;
	gap: $gap_md;
	@media (max-width: $md) {
		flex-direction: column;
	}
	section {
		display: flex;
		flex-direction: column;
		@media (min-width: $md) {
			max-width: 45%;
		}
		&:first-child {
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}

.block-pagination {
	margin: 0 0 50px;
	padding: 0 3vw;
	min-width: 200px;
	height: 45px;
	display: flex;

	.page-numbers {
		text-decoration: none;
		border-radius: 50%;
		font-family: 'SourceSansPro-Semibold', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #101010;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 33px;
		width: auto;

		.current {
			background: #5dc1c3;
			color: #fff;
			margin-right: 18px;
			width: 45px;
			height: 45px;
		}
	}
	.next {
		width: 23px;
		height: 16px;
		background: url(../../inc/images/icon-arrow-t.svg) no-repeat;
		margin: auto 0;
	}
}
.content-list {
	.items_img,
	.img {
		display: block;
		margin-bottom: 39px;
		height: 64px;
		width: 64px;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
	}
	.container,
	.container {
		display: flex;
		flex-wrap: wrap;
		gap: $gap_lg;
		.headline {
			min-width: 100%;
			text-align: center;
		}
		article {
			display: flex;
			position: relative;
			flex-wrap: wrap;
			margin: initial;
			min-width: 100%;
			.headline {
				min-width: 100%;
				text-align: center;
				margin: $m-headline;
			}

			.arrow,
			.w-arrow {
				justify-content: flex-start;
			}
		}
		.imgWrap {
			min-height: auto;
			overflow: hidden;
			border-radius: 10px;
		}
		.imgWrap,
		.content {
			display: flex;
			flex: 1;
			margin-top: 0px;
		}
	}
	.item {
		gap: 50px;

		.content {
			width: 50%;
			flex-direction: column;

			.title {
				text-align: left;
				font-size: $px24;
				text-transform: uppercase;
			}
		}
		@media (max-width: $md) {
			flex-direction: column;
			.content {
				width: 100%;
			}
		}
	}
	.content {
		h3 {
			color: $prim-purple;
			text-transform: uppercase;
			margin-bottom: $mb-titles;
		}
	}
	.arrow,
	.w-arrow {
		margin: initial;
	}
	@media (max-width: $md) {
		.container,
		.container {
			flex-direction: column;
		}
	}
}
.icons {
	img {
		max-width: 50px;
		max-height: 50px;
		@media (max-width: $md) {
			margin: auto !important;
			margin-bottom: 20px !important;
		}
	}
}
.horizontal__block {
	h2 {
		margin-bottom: 4rem;
		min-width: 100%;
		color: $prim-purple;
		@media (max-width: $md) {
			text-align: center;
		}
	}
	.contentWrap {
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		flex-wrap: wrap;
		padding: 0px;
		gap: 60px;

		item {
			@media (max-width: $md) {
				min-width: 100%;
			}
		}
		.title {
			font-size: $px32;
			min-height: 50px;
			margin-bottom: $m-sm;
		}
		.sub-title {
			font-family: $font-fair-bold;
			font-size: $px32;
			margin-bottom: $px12;
			text-align: left;
			display: flex;
			align-items: flex-start;
			line-height: normal;
		}
		.sub-text {
			font-size: $px22;
			color: $prim-purple-light;
			font-family: $font-Avenir-heavy;
			min-height: 90px;
		}
		.number {
			font-weight: 900;
			font-size: $px50;
			margin-bottom: 15px;
			color: $prim-purple;
			font-family: $font-fair-bold;
			width: 100%;
			@media (max-width: $md) {
				margin: 20px;
			}
		}

		item {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			position: relative;
		}
	}
	&-lines {
		item {
			&:after {
				@include line-after;
			}
			&:nth-last-child(1) {
				&:after {
					border-left: none;
				}
			}
			@media (max-width: $sm) {
				&:after {
					border-left: 0px;
				}
			}
		}
	}
}
.horizontal-list {
	.container,
	.container {
		display: flex;
		flex-wrap: wrap;
		gap: $gap_lg;

		article {
			display: flex;
			flex: 1;
			flex-direction: column;
			position: relative;
			flex-wrap: wrap;

			img {
				margin: 10px auto;
			}
			&:after {
				content: '';
				min-height: 100%;
				position: absolute;
				right: 0px;
				right: -3rem;
				top: 0;
				margin: 0px 30px;
				border-right: 1px solid black !important;
			}
			&:nth-last-child(1) {
				border-right: none;
				&:after {
					display: none;
				}
			}
			h4 {
				color: $prim-purple;
				min-width: 100%;
				font-family: $font-fair-bold;
				font-size: $f_title_entry;
				min-height: 100px;
			}
			@media (max-width: $md) {
				min-width: 100%;
				h4 {
					text-align: center;
				}
			}
		}
	}
}
/*---------------------------------------*/
/*  BTNS
/*---------------------------------------*/

.button {
	font-family: $font-Avenir-heavy;
	font-size: $px16 !important;
	background: gray;
	color: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	position: relative;
	text-align: center;
	z-index: 1;
	transition: all 0.3s;
	padding: 0px 20px;

	min-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 180px;
	text-decoration: none !important;

	span {
		font-family: $font-Avenir-heavy;
		white-space: nowrap;
	}
	@media (max-width: $md) {
		min-width: 210px;
	}

	&-outline {
		color: #000;
		border: 2px solid #000;
		background-color: white;
		a {
			color: black;
			margin: auto;
		}
		&:hover {
			a {
				color: white !important;
			}
			color: #fff;
			background-color: $teal;
			border: 2px solid $teal;
		}
	}
	&-purple {
		margin: auto;
		background: $prim-purple;
		color: white !important;
		span {
			color: white !important;
		}

		&:hover {
			color: white !important;
		}
		a {
			color: white !important;
			&:hover {
				color: white !important;
			}
		}
		&:hover {
			background-color: $teal;
		}
	}
	&-teal {
		background: #5dc1c3;
		color: white !important;

		&:hover {
			color: white;
		}
	}

	&-animation {
		background: transparent;
		border: none;
		border-radius: 3px;
		outline: none;
		text-transform: uppercase;
		letter-spacing: 0.075em;
		padding: 0;
		z-index: 1;
		display: flex;

		span {
			background: $teal;
			transition: all 0.3s;
			position: relative;
			text-transform: uppercase;
			letter-spacing: 0.075em;
			width: 100%;
			min-height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 50px;
			z-index: -1;
			background: transparent;
			border: 3px solid white;
			border-radius: 3px;
			top: 20px;
			bottom: -11px;
			right: -15px;
			transition: all 0.3s;
		}

		&:hover {
			transform: translate(15px, 11px);
			&:after {
				transform: translate(-30px, -22px);
			}
		}
	}
	&.reques-demo,
	&.sign_in {
		a {
			text-transform: uppercase !important;
		}
	}
}
.sign_in {
	min-width: 100px !important;
}
.text {
	&-white {
		color: white;
	}
	&-purple {
		color: $prim-purple;
	}
}
// hexagon 1
.hexagon {
	background-image: url(./../../inc/images/shape-hexagon-t.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	height: 60px;
	width: 60px;
	@media (max-width: $md) {
		margin: auto;
		margin-bottom: 20px;
	}
	span {
		font-family: $font-fair-bold;
		font-size: $px35;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 10px;
		min-width: 60px;
		margin: 25px auto;
	}
	.title {
		font-family: $font-fair-bold;
		margin-bottom: $mb-titles;
		font-size: $px32;
		text-align: left;
		display: flex;
		align-items: flex-start;
		line-height: normal;
		white-space: nowrap;
		background-color: blue;
	}
	&-purple {
		background-image: url(./../../inc/images/shape-hexagon-k.svg);
	}
	&-purple-light {
		background-image: url(./../../inc/images/shape-hexagon-p.svg);
	}
	&-outline {
		background-image: url(./../../inc/images/shape-hexagon-o-b.svg);
	}
	&-lines {
		background-image: url(./../../inc/images/shape-hexagon-l.svg);
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 400px;
		z-index: 1;
		width: 400px;
		left: -10%;
		top: 0px;
		position: absolute;
	}
}
.item-1 {
	.hexagon {
		background-image: url(./../../inc/images/hexagon_01.svg);
	}
}
.item-2 {
	.hexagon {
		background-image: url(./../../inc/images/hexagon_02.svg);
	}
}
.item-3 {
	.hexagon {
		background-image: url(./../../inc/images/hexagon_03.svg);
	}
}
.figureL {
	background-image: url(./../../inc/images/shape-group-t-o.svg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;
	height: 80%;
	left: -50%;
	top: 20%;
	position: absolute;
}
.integrations-logos_shape_2 {
	background-image: url(./../../inc/images/logos-shape-2.svg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;
	position: absolute;
	right: 0%;
	bottom: 0%;
	height: 500px;
	width: 600px;
}
.integrations-logos_shape_3 {
	background-image: url(./../../inc/images/logos-shape-3.svg);
	background-position: left;
	background-repeat: no-repeat;
	text-align: center;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;
	position: absolute;
	left: 0%;
	bottom: 50%;
	height: 500px;
	width: 600px;
}
.bg {
	&-purple {
		color: white;
		background-color: $prim-purple;
		h2 {
			text-align: center;
		}
		header {
			margin: auto;
		}
		a {
			color: #fff;
		}
		.title {
			text-align: center;
			color: white;
		}
		.arrow {
			color: white !important;
			justify-content: center;
			filter: brightness(0) invert(1);
		}
	}

	&-lines {
		z-index: 1;
		background: repeating-linear-gradient(-55deg, #e1e1ff, #e1e1ff 5px, #ececff 5px, #ececff 20px);
	}
	&-lines2 {
		z-index: 1;
		background: repeating-linear-gradient(50deg, #fff, #fff 6px, #ededed 5px, #fff 10px);
		min-height: 100px;
		width: 90%;
		margin: auto;
	}
	&-gray {
		background-color: #fafafa;
		.title {
			text-align: center;
			color: white;
		}
	}
	&-darkGray {
		background-color: $gray;
		.title {
			text-align: center;
			color: white;
		}
	}
}

.box-shadow {
	min-height: 489px;
	padding: 48px 60px 41px;
	background: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	position: relative;
	margin-bottom: 30px;
}
.box-with-tab {
	background: #fff;
	padding: 78px 61px 105px 99px;
	min-height: 525px;
	position: relative;
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	z-index: 10;
	@include flexCenter;

	&:after {
		content: '';
		position: absolute;
		top: 60px;
		left: -34px;
		background: url(../../inc/images/side-guide.svg) no-repeat;
		background-size: contain;
		width: 71px;
		height: 401px;
		z-index: 11;
	}

	h4 {
		margin-bottom: 39px;
		font-size: $f_h4;
		color: #0a0a0a;
	}
	p {
		padding: 0;
		margin: 0;
		margin-bottom: 0px;
		font-size: 1.125rem;
		line-height: 31px;
		color: #0a0a0a;
	}
	@media (max-width: $md) {
		.input {
			width: auto;
		}
		padding: 2rem;
		min-height: auto;
		margin-top: 8rem;
		&:after {
			display: none;
		}
	}
}

.shadow {
	object-fit: contain;
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}
.box {
	z-index: 5;
}
.shape-l {
	background-image: url(../../inc/images/shape-group-t-o.svg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	background-size: contain;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shape-line {
	background-image: url(../../inc/images/shape-gl-bl.svg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	background-size: contain;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-hero__button {
	span {
		background-color: transparent !important;
	}
}
.whiteLink {
	text-decoration: none;
	color: white;
	&:hover {
		color: #5cc1c3;
	}
}

/*---------------------------------------*/
/*  Layout
/*---------------------------------------*/
footer {
	background-color: $sec-purple;
}
.footer-ver2 {
	min-height: 500px;
	color: white;
	padding-top: 100px;

	.align-center {
		justify-content: center;
		align-items: center;
	}
	.subtitle {
		font-family: $font-Avenir-heavy;
		font-size: 18px;
		border-bottom: 1px solid $menu-footer-sublink;
		padding: 12px 0;
		margin-bottom: 12px !important;
		text-align: left !important;
	}
	ul {
		list-style: none;
		padding: 0px;
	}
	a {
		font-family: $font-Avenir-roman;
		text-decoration: none;
		color: white;

		&:hover {
			color: $teal !important;
		}
	}

	.first-level {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-between;
		min-width: 100%;
		.logo {
			min-width: 200px;
			@media (max-width: $md) {
				min-width: 100% !important;
				margin: 0px 0px 50px 0px;
				text-align: center;
				img {
					margin: auto;
				}
			}
		}

		section {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			flex: 1;
			li {
				margin: 0px;
			}
			@media (max-width: $md) {
				min-width: calc(50% - 20px);
			}
		}
	}
	.second-level {
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;
		@media (max-width: $md) {
			min-width: 100%;
		}

		.container,
		.container {
			@media (min-width: $md) {
				display: flex;
				justify-content: center;
			}
		}
		.copyright,
		.links {
			display: flex;
			flex-direction: row;
			white-space: nowrap;
			color: $menu-footer-sublink;
			flex-wrap: wrap;
			justify-content: center;
			font-size: 14px;
			span {
				display: flex;
				align-items: center;
			}
		}
		.links {
			margin: 0px 10px;

			li {
				display: flex;
				align-items: center;
				white-space: nowrap;
				margin: 0px;
				font-size: 14px;
				a {
					font-size: 14px;
					color: $menu-footer-sublink;
					&:hover {
						color: $teal;
					}
				}
				&:after {
					content: ' | ';
					margin: 5px;
				}
				&:last-child:after {
					content: '  ';
				}
			}
		}
		.copyright {
			display: flex;
			justify-content: flex-start;
			flex: 1;

			@media (max-width: $md) {
				margin-left: 0px;
				padding-left: 0px;
				justify-content: center;
			}
		}
		.social {
			min-width: 180px;
			.social-icons {
				display: flex;
				margin: 0px;
				gap: 10px;

				@media (max-width: $md) {
					margin: 20px auto;
					justify-content: center;
				}
				li {
					margin: 0px;
					a {
						height: 30px;
						width: 30px;
						display: flex;
						background-size: cover;
						filter: invert(1);
						opacity: 0.5;
						overflow: hidden;
						text-indent: 999px;
						&:hover {
							opacity: 0.3 !important;
						}
					}
				}
			}
			.linkedin {
				background-image: url('../../inc/images/linkedin.png');
			}
			.twitter {
				background-image: url('../../inc/images/twitter.png');
			}
			.youtube {
				background-image: url('../../inc/images/youtube.png');
			}
			.facebook {
				background-image: url('../../inc/images/facebook.png');
			}
			.instagram {
				background-image: url('../../inc/images/instagram.png');
			}
		}
		.menu {
			ul {
				padding-left: 0px !important;
			}
		}

		.links {
			padding: 0px !important;
			font-family: $font-Avenir-roman !important;
		}
	}
	.menu {
		.menuItem,
		.subtitle {
			text-align: left;
		}
	}
	.cta-btn {
		flex: 2;
		height: auto;
		min-height: 50px;
		display: flex;
		max-height: 70px;
		max-width: 180px;
		align-items: flex-end;
		justify-content: flex-end;
		.button-purple {
			margin: 0px;
			text-decoration: none !important;
			& span {
				background-color: transparent !important;
			}
		}
		@media (max-width: $md) {
			min-width: 100% !important;
			align-items: center;
			padding-top: 0px;
			.button-purple {
				margin: auto !important;
			}
			a {
				margin: auto;
			}
		}
	}
	ul {
		@media (max-width: $md) {
			padding-left: 0rem !important;
			a {
				font-size: 15px;
			}
		}
	}
}

.page-template .footer-ver2 a {
	color: white;
}

/*------------------------------------------*/
/*   faq
/*------------------------------------------*/
.faq {
	.drop-list__item {
		cursor: pointer;
	}
	ul {
		min-width: 100%;
		li {
			position: relative;
			color: #0a0a0a;
			line-height: 34px;
			transition-property: color;
			transition-duration: 0.2s;
			margin-bottom: auto;
			flex: 1;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 2rem 0px;
			@media (max-width: $md) {
				font-weight: 500;
				font-size: 20px;
			}
			.question {
				&:after {
					content: '+';
					position: absolute;
					right: 0px;
					transition: all 0.2s;
					font-size: 3rem;
					font-weight: normal;
				}
				&:hover {
					color: $prim-purple;
					&:after {
						transform: rotate(90deg);
						font-size: 3.1rem;
					}
				}
			}

			.text {
				font-size: 15px;
				line-height: 28px;
				color: #000;
				font-weight: lighter;
				overflow: hidden;
				height: 0px;
				transition: all 0.5s;
			}
			&.active {
				transition: all 0.5s;
				.text {
					margin-top: 2rem;
				}
				&.hover {
					.question {
						&:after {
							content: '-';
							transform: rotate(0deg);
						}
					}
				}
				.question {
					&:after {
						content: '-';
						transform: rotate(0deg);
					}
				}

				.text {
					transition: all 0.5s;
					height: auto !important;
				}
			}
		}
	}
	.drop-list__item {
		border-bottom: 2px solid #0a0a0a;
		min-width: 100%;
	}
}
/*------------------------------------------*/
/*   resize banner
/*------------------------------------------*/
#legal,
#data-processing-addendum {
	.intro-banner {
		min-height: 300px;
		.headline {
			height: auto;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*  animate
/*-----------------------------------------------------------------------------------*/
.animate {
	opacity: 0;
	transition: all 0.5s;
	transform: translateX(-20%) scale(0.9);
	&.active {
		opacity: 1;
		transform: translateX(0%) scale(1);
	}
}

@keyframes pulse {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*------------------------------------------*/
/*   SLider Logos
/*------------------------------------------*/
.slick-prev,
.slick-next {
	width: 58px !important;
	height: 58px;
	top: 10px;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: #fff;
	border-radius: 50px;
	border: 0;
	outline: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
	transform: translateY(0);
	cursor: pointer;
	z-index: 10;
	opacity: 1;
	transition: all 0.3s;
	background-repeat: no-repeat;
	background-position: center;
	@media (max-width: $md) {
		display: none !important;
	}
}
.slick-next {
	bottom: 0;
	right: -20px;
	background-image: url('../../inc/images/arow-right.svg');
}
.slick-prev {
	bottom: 0;
	left: -20px;
	background-image: url('../../inc/images/arrow-left.svg');
}
