@import 'variables';
@import 'typography';
@import 'sociales';
@import 'menu';
// @media (max-width: $md) {
// 	font-size: 16px;
// }
// @media (min-width: $md) {
// 	font-size: 16px;
// }
// @media (min-width: $lg) {
// 	font-size: 16px;
// }
/*-----------------------------------------------------------------------------------*/
/*  reset
/*-----------------------------------------------------------------------------------*/

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: $font-inter-regular;
}
body {
	margin: 0;
	padding: 0;
	font-family: $font-inter-regular;
	font-size: 1.6rem;
	line-height: 2;
}
p {
	font-size: 1.8rem;
	line-height: 5rem;
}
h1,
h2,
h3,
h4 {
	font-family: $font-inter-bold;
	font-weight: 900;
}
a {
	text-decoration: none;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
/*-----------------------------------------------------------------------------------*/
/*  html
/*-----------------------------------------------------------------------------------*/

html,
body {
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth;
}

/*-----------------------------------------------------------------------------------*/
/*  button
/*-----------------------------------------------------------------------------------*/

.btn {
	&-cta {
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		font-family: $font-inter-regular;
		font-weight: 700;
		background: #fff !important;
		color: #000 !important;
		border: 1px solid #000 !important;
		font-size: $px16;
		white-space: nowrap;
		height: 48px;
		&:hover {
			background: #000 !important;
			color: #fff !important;
			border: 1px solid #fff !important;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*  bg 
/*-----------------------------------------------------------------------------------*/

.bg {
	&-black {
		background-color: red !important;
	}
}
