/*------------------------------------------*/
/*   customer-stories integrations
/*------------------------------------------*/
#integrations {
	font-size: $f_paragraph !important;
	h1 {
		margin-bottom: $mb-titles;
	}
	h2 {
		min-width: 100%;
		text-align: center;
		@media (max-width: $md) {
			text-align: center;
		}
	}
	.subtitle {
		margin-bottom: 4rem;
		text-align: center;
	}

	.logos {
		.menu {
			display: flex;
			flex-direction: row;
			list-style: none;
			height: 90px !important;
			width: 100%;
			background-color: #fff;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			align-items: center;
			margin-top: 2rem;
			li {
				margin-bottom: 0px;
				cursor: pointer;
				font-size: initial;
			}
		}
		.logos-cards {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			gap: 10px;
			min-height: 500px;
			transition: all 5s;
			justify-content: space-around;
			.card {
				display: flex;
				width: 100%;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				padding: 20px;
				max-height: 160px;
				max-width: calc(33% - 5px);

				@media (max-width: $md) {
					max-width: calc(50% - 5px);
				}
				.card__logo {
					width: 50%;
					max-width: 190px;
					padding: 30px;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						width: 100%;
					}
				}
				.card__label {
					width: 50;
					display: flex;
					align-items: center;
					justify-content: center;
					font-family: $font-Avenir-heavy;
				}
			}
			@media (max-width: $lg) {
				.card {
					max-width: 45%;
					padding: 0.2vw;
				}
			}

			@media (max-width: $md) {
				.card {
					max-width: 45%;
					padding: 10px;
				}
			}

			@media (max-width: $sm) {
				.card {
					max-width: 100%;
				}
			}
		}
	}
	.hookDesktop {
		justify-content: space-evenly;
	}
	// MENU LOGOS
	.hookMobile {
		display: none !important;
		position: relative;
		overflow: hidden;
		flex-direction: column !important;
		align-items: center !important;
		justify-content: flex-start !important;

		label {
			min-width: 100%;
			display: flex;
			flex-direction: row;
			min-height: 90px;
			justify-content: center;
			align-items: center;
			font-size: 1.3rem;
		}
		.post-cat__item {
			margin: 1rem 0;
		}
	}
	.tab {
		font-size: $f_paragraph !important;
	}
	.integrations {
		padding: $p_lg;
		.card.hide {
			display: none !important;
		}
	}
	@media (max-width: $md) {
		.hookDesktop {
			display: none !important;
		}
		.hookMobile {
			display: flex !important;
		}
		.card {
			max-width: 45%;
		}
	}

	


	.industry {
		padding: $p_lg;
		background-size: cover;
		font-size: $f_paragraph;
		.number {
			font-family: $font-fair !important;
			margin-bottom: 40px !important;
		}
		ul {
			display: flex;
			justify-content: space-around;
			list-style-type: none;
			flex-wrap: wrap;
			padding: 0px;

			li {
				padding: 0 40px 24px;
				margin-bottom: 0;
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				align-items: center;
				flex: 1;
				max-width: 25%;
				text-align: center;
				position: relative;

				&::after {
					content: '';
					display: block;
					position: absolute;
					right: 0;
					top: 50%;
					height: 100%;
					transform: translateY(-50%);
					border-left: 1px solid #c4c4c4;
				}

				@media (max-width: $sm) {
					max-width: 100%;
					min-width: 100%;
					padding: 0 auto 24px;

					&::after {
						border-left: 0px;
					}
				}

				&:nth-last-child(1) {
					&::after {
						border-left: none;
					}
				}

				img {
					max-height: 93px;
					width: auto;
					margin-bottom: 1.5rem;

					@media (max-width: $sm) {
						max-height: 63px;
					}
				}

				.number {
					font-weight: 900;
					font-size: 55px;

					margin-bottom: 15px;
					color: $prim-purple;
					font-family: $font-fair-bold;
					width: 100%;
				}

				.content {
					margin: 0 auto;
				}
			}
			@media (max-width: $md) {
				li {
					max-width: 50%;
					flex: initial;
				}
			}
		}
	}
}
