@import 'variables';
/*------------------------------------------*/
/*   slider Fix
/*------------------------------------------*/
.home-hero__criteria {
	text-transform: uppercase;
}

.container,
.container {
	.headline {
		h2 {
			text-align: center;
			margin-bottom: $mb-titles;
		}
		.text {
			text-align: center;
			margin-bottom: $mb-titles;
		}
	}
}

.footer-banner {
	@media (max-width: $md) {
		display: block;
		background-size: cover;
		background-position: center;
	}
	&.block {
		margin: initial;
	}
	.container,
	.container {
		min-height: $fullbar-small;
		@include flexCenter;
		h4 {
			color: $prim-purple;
			font-size: $f_title_entry;
			min-width: 100%;
			text-align: center;
			margin-bottom: $mb-titles;
			@media (max-width: $md) {
				text-align: center;
			}
		}
	}
}

/*------------------------------------------*/
/*   faq
/*------------------------------------------*/
.faq {
	.container,
	.container {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-evenly;
		h2 {
			min-width: 100%;
			margin-bottom: 2rem;
			color: white;
			text-align: center;
		}
		.item {
			max-width: calc(30% - 40px);

			@media (max-width: $md) {
				max-width: 100%;
				margin-bottom: 2rem;
			}
			p {
				color: white;
				line-height: 1.5rem;
			}
			h4 {
				color: white;
				margin-bottom: 20px;
			}
		}
	}
}
/*------------------------------------------*/
