#integrated-audit {
	font-size: $f_paragraph !important;

	.subtitle {
		margin-bottom: 4rem;
		text-align: center;
	}
	.subbanner {
		min-height: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
		strong {
			color: $prim-purple;
		}
	}

	.sec_2 {
		.sub-title {
			color: $prim-purple;
		}
		.icons {
			img {
				margin: $px20 0px;
			}
		}
	}
	.sec_3 {
		.content {
			display: flex;
			flex-wrap: wrap;
			gap: $gap_md;
			img {
				margin: auto;
				width: 100%;
				max-width: 900px;
				margin-top: 3rem;
			}
			@media (max-width: $md) {
				flex-direction: column;
				img {
					margin: auto;
					min-width: 100%;
				}
			}
		}
	}

	.sec_4 {
		.item {
			border-bottom: 1px solid #c4c4c4;
			padding-bottom: 100px;
			h2 {
				color: $prim-purple;
			}
			&:last-child {
				.imgWrap {
					box-shadow: none !important;
				}
				border-bottom: none;
			}
			@media (max-width: $md) {
				img {
					margin: auto;
					min-width: initial;
				}
			}
			&:last-child {
				padding-bottom: 0px;
			}
		}
	}
	.sec_5 {
		.date.less-important {
			margin-top: 20px;
		}
		.content {
			flex-direction: column;
			display: flex;
			justify-content: center;
		}
		h2 {
			margin-bottom: -20px;
		}
	}
	.subbanner {
		p {
			text-align: center;
		}
	}
	.content-list {
		.container-xl,
		.container {
			article {
				.headline {
					margin: auto;
				}
			}
		}
	}
	.imgWrap {
		width: 100%;
		min-width: 500px !important;
		@media (max-width: $md) {
			min-width: 100% !important;
			margin-bottom: 20px;
		}
	}
}
