@import 'variables';
/*------------------------------------------*/
/*   slider Fix
/*------------------------------------------*/
.home-hero__criteria {
	text-transform: uppercase;
}

.container,
.container-xl {
	.headline {
		h2 {
			text-align: center;
			margin-bottom: $mb-titles;
		}
		.text {
			text-align: center;
			margin-bottom: $mb-titles;
		}
	}
}

/*------------------------------------------*/
/*   slider Fix
/*------------------------------------------*/
.intro-banner {
	background-size: cover;
	display: flex;
	align-items: stretch;
	.container,
	.container-xl {
		display: flex;
		align-items: stretch;
		.headline {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			.content {
				display: flex;
				flex-direction: column;
				flex: 1;
				justify-content: center;
				h1 {
					margin: 0px;
				}
			}
			.hero {
				display: flex;
				flex-direction: column;
				flex: 1;
				justify-content: flex-end;
				position: relative;
				.text {
					position: absolute;
					bottom: calc(308px / 2);
					left: 0%;
					color: white;
					min-width: 100%;
					text-align: center;
				}
				img {
					width: 100%;
				}
			}
		}
		.content {
			.text {
				text-align: left !important;
			}
		}
	}
	@media (max-width: $md) {
		margin-top: 100px;
		background-size: cover;
		padding: 40px 40px 0px 40px;
		background-position: top;
		.container,
		.container-xl {
			.headline {
				margin-top: 40px;
				flex-direction: column;
				.content {
					margin-bottom: $mb-titles;
				}
				.text {
					bottom: 50% !important;
				}
			}
		}
	}
	.home-hero__button {
		margin: 0px !important;
	}
}
.footer-banner {
	@media (max-width: $md) {
		display: block;
		background-size: cover;
		background-position: center;
	}
	&.block {
		margin: initial;
	}
	.container,
	.container-xl {
		min-height: $fullbar-small;
		@include flexCenter;
		h4 {
			color: $prim-purple;
			font-size: $f_title_entry;
			min-width: 100%;
			text-align: center;
			margin-bottom: $mb-titles;
			@media (max-width: $md) {
				text-align: center;
			}
		}
	}
}
/*------------------------------------------*/
/*   our-value ver2
/*------------------------------------------*/
#our-value-ver2 {
	font-size: $f_paragraph;
	.block {
		margin: $m-block;
	}
	.bg-holder {
		background: #ffffffc9;
	}
	.manage-automate {
		margin-bottom: 9.375rem;
	}

	.before-after {
		box-shadow: inset 0 7px 19px -7px rgba(0, 0, 0, 0.11);
		background-color: gray;
		position: relative;
		.container,
		.container-xl {
			display: flex;

			article {
				z-index: 5;
				max-width: 40%;
				margin: auto;
				min-height: 550px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				color: white;

				h4 {
					font-size: $f_title_entry;
					color: white;
					margin-bottom: $mb-titles;
				}
				p {
					color: white;
				}
			}
			&:after {
				position: absolute;
				background: $prim-purple;
				height: 100%;
				width: 100%;
				display: flex;
				content: '';
				left: 50%;
				z-index: 1;
				top: 0;
			}

			@media (max-width: $md) {
				display: flex;
				flex-direction: column;
				padding: 0px;
				&:after {
					display: none;
				}
				article {
					min-width: 100%;
					padding-right: 15px;
					padding-left: 15px;
					&:nth-last-child(1) {
						background-color: $prim-purple;
					}
				}
			}
		}
	}
}

/*------------------------------------------*/
/*   customer-stories
/*------------------------------------------*/
#overview-ver2 {
	font-size: $f_paragraph;
	.block {
		margin: $m-block;
	}

	h2 {
		margin-bottom: 60px;
	}

	.sec_3 {
		@include flexCenter;
		color: white;
		text-align: center;
		@media (max-width: $md) {
			padding: $m auto;
		}
		h2 {
			color: white;
		}
		.container,
		.container-xl {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;

			@media (max-width: $md) {
				flex-direction: column;
				padding: $p;
			}
			header {
				.text {
					margin: 20px;
				}
			}
			.item {
				display: flex;
				flex: 1;
				flex-direction: column;
				color: $prim-purple-light;
				text-align: left;
				font-weight: bold;
				@media (max-width: $md) {
					text-align: center;
					margin-bottom: 2rem;
				}
				img {
					height: 60px;
					margin: 20px;
				}
			}
		}
	}
}
/*------------------------------------------*/
/*   customer-stories integrations
/*------------------------------------------*/
#integrations-ver2 {
	font-size: $f_paragraph !important;
	h1 {
		margin-bottom: $mb-titles;
	}
	h2 {
		min-width: 100%;
		text-align: center;
		@media (max-width: $md) {
			text-align: center;
		}
	}
	.subtitle {
		margin-bottom: 4rem;
		text-align: center;
	}

	.logos {
		.menu {
			display: flex;
			flex-direction: row;
			list-style: none;
			height: 90px !important;
			width: 100%;
			background-color: #fff;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			align-items: center;
			margin-top: 2rem;
			li {
				margin-bottom: 0px;
				cursor: pointer;
				font-size: initial;
			}
		}
		.logos-cards {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			gap: 10px;
			min-height: 500px;
			transition: all 5s;
			justify-content: space-around;
			.card {
				display: flex;
				width: 100%;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				padding: 20px;
				max-height: 160px;
				max-width: calc(30% - 5px);

				@media (max-width: $md) {
					max-width: calc(50% - 5px);
				}
				.card__logo {
					width: 50%;
					max-width: 190px;
					padding: 30px;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						width: 100%;
					}
				}
				.card__label {
					width: 50;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			@media (max-width: $lg) {
				.card {
					max-width: 45%;
					padding: 0.2vw;
				}
			}

			@media (max-width: $md) {
				.card {
					max-width: 45%;
					padding: 10px;
				}
			}

			@media (max-width: $sm) {
				.card {
					max-width: 100%;
				}
			}
		}
	}
	.hookDesktop {
		justify-content: space-evenly;
	}
	// MENU LOGOS
	.hookMobile {
		display: none !important;
		position: relative;
		overflow: hidden;
		flex-direction: column !important;
		align-items: center !important;
		justify-content: flex-start !important;

		label {
			min-width: 100%;
			display: flex;
			flex-direction: row;
			min-height: 90px;
			justify-content: center;
			align-items: center;
			font-size: 1.3rem;
		}
		.post-cat__item {
			margin: 1rem 0;
		}
	}
	.tab {
		font-size: $f_paragraph !important;
	}
	.integrations {
		padding: $p;
		.card.hide {
			display: none !important;
		}
	}
	@media (max-width: $md) {
		.hookDesktop {
			display: none !important;
		}
		.hookMobile {
			display: flex !important;
		}
		.card {
			max-width: 45%;
		}
	}

	.industry {
		padding: $p;
		background-size: cover;
		font-size: $f_paragraph;

		ul {
			display: flex;
			justify-content: space-around;
			list-style-type: none;
			flex-wrap: wrap;
			padding: 0px;

			li {
				padding: 0 40px 24px;
				margin-bottom: 0;
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				align-items: center;
				flex: 1;
				max-width: 25%;
				text-align: center;
				position: relative;

				&::after {
					content: '';
					display: block;
					position: absolute;
					right: 0;
					top: 50%;
					height: 100%;
					transform: translateY(-50%);
					border-left: 1px solid #c4c4c4;
				}

				@media (max-width: $sm) {
					max-width: 100%;
					min-width: 100%;
					padding: 0 auto 24px;

					&::after {
						border-left: 0px;
					}
				}

				&:nth-last-child(1) {
					&::after {
						border-left: none;
					}
				}

				img {
					max-height: 93px;
					width: auto;
					margin-bottom: 1.5rem;

					@media (max-width: $sm) {
						max-height: 63px;
					}
				}

				.number {
					font-weight: 900;
					font-size: 55px;

					margin-bottom: 15px;
					color: $prim-purple;
					font-family: $font-fair-bold;
					width: 100%;
				}

				.content {
					margin: 0 auto;
				}
			}
			@media (max-width: $md) {
				li {
					max-width: 50%;
					flex: initial;
				}
			}
		}
	}
}

#integrated-audit-ver2 {
	font-size: $f_paragraph !important;

	.subtitle {
		margin-bottom: 4rem;
		text-align: center;
	}
	.subbanner {
		min-height: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sec_3 {
		.content {
			display: flex;
			flex-wrap: wrap;
			gap: $general-gap;
			img {
				max-width: 30%;
			}
			@media (max-width: $md) {
				flex-direction: column;
				img {
					margin: auto;
					min-width: 100%;
				}
			}
		}
	}

	.sec_4 {
		.item {
			border-bottom: 1px solid gray;
			padding-bottom: 100px;
			h2 {
				color: $prim-purple;
			}
			&:last-child {
				.imgWrap {
					box-shadow: none !important;
				}
				border-bottom: none;
			}
			@media (max-width: $md) {
				img {
					margin: auto;
					min-width: initial;
				}
			}
			&:last-child {
				padding-bottom: 0px;
			}
		}
	}
	.sec_5 {
		.content {
			flex-direction: column;
			display: flex;
			justify-content: center;
		}
	}
	.subbanner {
		p {
			text-align: center;
		}
	}
	.content-list {
		.container-xl,
		.container {
			article {
				.headline {
					margin: auto;
				}
			}
		}
	}
}

#about-ver2 {
	.social-box {
		display: flex;
		flex-wrap: wrap;
		gap: $general-gap;
		padding: 130px 0px;

		.box_content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex: 1;
			color: white;
			min-height: 350px;
			min-width: 350px;
			max-width: 350px;
			padding: $m;
			&.random-img {
				padding: 0px;
			}

			h3 {
				font-family: $font-fair-bold;
				margin-bottom: 12px;
				font-size: $f_title_entry;
				text-align: left;
				display: flex;
				align-items: flex-start;
				line-height: normal;
			}
		}
	}

	article {
		display: flex;
		flex: 1;
		flex-direction: row;
		position: relative;
		flex-wrap: wrap;

		.imgWrap {
			min-height: 310px;
			display: flex;
			flex: 1;
			margin-top: 0;
			position: relative;
			max-width: 45%;
			min-width: 45%;
			margin: auto;
			overflow: hidden;
		}
		.content {
			display: flex;
			max-width: 50%;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
		}
	}
	.founders {
		h2 {
			color: $prim-purple;
		}

		.headline {
			.text {
				text-align: center;
				margin-bottom: $mb-titles;
			}
		}

		@media (max-width: $md) {
			.container,
			.container-xl {
				display: block;
			}

			.item {
				flex-direction: column !important;
				.imgWrap {
					max-width: 100% !important;
				}
				.content {
					max-width: 100% !important;
				}
			}
		}
		.linkedin {
			min-width: 25px;
			min-height: 25px;
			background-image: url('../../inc/images/linkedin.png');
			background-repeat: no-repeat;
			background-size: contain;
			filter: invert(31%) sepia(79%) saturate(841%) hue-rotate(180deg) brightness(96%) contrast(87%);
		}
	}
}

#ver3-request-a-demo {
	text-align: center;

	#header-top {
		display: none;
	}

	footer {
		display: none;
	}

	h1 {
		margin-bottom: $mb-titles;
	}
	.text {
		b,
		strong {
			color: $prim-purple;
		}
		margin-bottom: $mb-titles;
	}
	form {
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		max-width: 600px;

		fieldset {
			min-width: 100%;
			gap: 10px;
			margin: 10px auto;
			display: flex;
			@media (max-width: $md) {
				flex-direction: column;
				& > div {
					padding: 10px;
					min-width: 100%;
				}
			}
			.hs-form-field {
				position: relative;
				margin: 0px;
				label {
					font-size: 12px;
					position: absolute;
					left: 20px;
					top: -10px;
					color: gray;
					background-color: white;
					padding: 0px 10px;
				}
			}
		}
	}

	.hs-input {
		display: inline-block;
		width: 100%;
		max-width: initial;
		height: 40px;
		padding: 30px;
		font-weight: normal;
		line-height: 22px;
		color: #33475b;
		border: 1px solid #cbd6e2;
		box-sizing: border-box;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;
	}
	//Inputes 1 colum
	.form-columns-1 {
		display: flex;
		flex-wrap: wrap;
		min-height: 10px;
		label {
			top: 5px !important;
			position: absolute;
		}
		ul {
			list-style: none;
		}
		.input {
			.hs-input,
			textarea {
				min-width: 100%;
				margin: 20px 0px;
			}
		}
		div {
			min-width: 100%;
			display: flex;
			flex-wrap: wrap;
		}

		//checkbox
		.hs-form-checkbox-display {
			display: flex;
			min-width: 90%;
			input {
				max-width: 20px !important;
				min-width: initial !important;
				display: flex;
				margin: 0px !important;
				padding: 0px !important;
				height: initial !important;
			}
			span {
				margin-left: 20px;
			}
		}
		.hs_subscribe_to_updates {
			display: flex;
		}
	}

	.hs-button {
		background: $prim-purple;
		color: #fff;
		border: 3px solid transparent;
		border-radius: 3px;
		text-transform: uppercase;
		letter-spacing: 0.075em;
		padding: 1.2rem;
		padding-right: 1.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.2rem;
		margin: 0 0 20px;
		position: relative;
		text-align: center;
		z-index: 1;
		transition: all 0.3s;
		line-height: 1.5;
		min-width: 228px;
		text-decoration: none;
		padding-left: 5px;
		padding-right: 5px;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		&:hover {
			background-color: $teal;
		}
	}
}
.investors {
	min-height: $fullbar-small;

	h4 {
		color: $prim-purple;
		text-align: center;
		margin-bottom: $mb-titles;
	}
	.content {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		@media (max-width: $md) {
			flex-direction: column;

			img {
				margin: 20px auto;
			}
		}
	}
}

.networks {
	color: white;
	min-height: $fullbar-medium;

	h4 {
		text-align: center;
		margin-bottom: $mb-titles;
	}
	.subttile {
		justify-self: center;
		text-align: center;
		margin-bottom: $mb-titles;
	}
	.content {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		@media (max-width: $md) {
			flex-direction: column;

			img {
				margin: 20px auto;
			}
		}
	}
}

/*------------------------------------------*/
/*   faq
/*------------------------------------------*/
.faq {
	.container,
	.container-xl {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-evenly;
		h2 {
			min-width: 100%;
			margin-bottom: 2rem;
			color: white;
			text-align: center;
		}
		.item {
			max-width: 32%;
			@media (max-width: $md) {
				max-width: 100%;
				margin-bottom: 2rem;
			}
			p {
				color: white;
			}
			h4 {
				color: white;
				margin-bottom: 20px;
			}
		}
	}
}
/*------------------------------------------*/
/*   parts
/*------------------------------------------*/
.shadow-top {
	box-shadow: inset 0 -7px 19px -7px rgba(0, 0, 0, 0.11);
}
.shadow-bottom {
	box-shadow: inset 0 -7px 19px -7px rgba(0, 0, 0, 0.11);
}
.content-list {
	padding-bottom: 40px;
	.item {
		display: flex;
		margin: 40px auto;
		min-height: 250px;
		align-items: stretch;
		.imgWrap {
			min-width: 50%;
		}

		@media (max-width: $md) {
			flex-direction: column;
			.imgWrap {
				min-width: 100%;
				margin-bottom: 40px;
			}
		}

		.items_img {
			min-width: 50%;
			display: flex;
			align-items: stretch;
			padding: 0px;
			margin: 0px;
			height: initial;
			width: auto;
		}
		.content {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			@media (min-width: $md) {
				margin-left: $m-l;
			}
			h3 {
				color: $prim-purple;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
		}
	}
}
.boxShadow {
	overflow: hidden;
	box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.14);
	border-radius: 10px !important;
}

.ul-icons {
	list-style-type: none;
	min-height: 70%;
	justify-content: space-evenly;
	display: flex;
	margin-bottom: 0px;
	ul {
		list-style: none;
	}
	li {
		position: relative;
		padding-left: 0px !important;
		&:before {
			left: -35px;
			top: 2px;
			position: absolute;
			content: url(../../inc/images/list-style-hexagon-check.svg);
		}
	}
}
