@import 'variables';
/*------------------------------------------*/
/*   customer-stories laika-products
/*------------------------------------------*/
#laika-products {
	font-size: $f_paragraph;

	.block {
		margin: $m-block;
	}
	.sec_2 {
		h2 {
			margin-bottom: 60px;
			color: $prim-purple;
			min-width: 100%;
			text-align: center;
		}
		@include ul-checkmark;
		.imgWrap {
			min-width: auto;
			img {
				max-width: 500px;
			}
		}
	}

	.sec_3 {
		@include flexCenter;
		color: white;
		text-align: center;
		@media (max-width: $md) {
			padding: $m-md auto;
		}
		h2 {
			color: white;
		}
		.icons {
			img {
				margin-bottom: $px20;
			}
			.content {
				color: $prim-purple-light;
				text-align: left;
			}
		}
		.container,
		.container-xl {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;

			@media (max-width: $md) {
				flex-direction: column;
				padding: $p_lg;
				padding-right: 15px;
				padding-left: 15px;
			}
			header {
				.text {
					margin: 20px;
				}
			}
			.item {
				display: flex;
				flex: 1;
				flex-direction: column;
				color: $prim-purple-light;
				text-align: left;
				font-weight: bold;
				@media (max-width: $md) {
					text-align: center;
					margin-bottom: 2rem;
				}
				img {
					height: 60px;
					margin: 20px;
				}
			}
		}
	}
}
