@import 'variables';

/*------------------------------------*/
/*  Menu Header Logo and Menu
/*------------------------------------*/
@mixin item {
	display: flex;
	min-width: 100%;
	height: 15vh;
	max-height: 90px;
	margin: 0px;
	padding: 0px;
}
#menu-top {
	.phone {
		display: flex;

		justify-content: center;
		font-size: 1.5em;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		img {
			filter: invert(0) !important;
			@media (min-width: $md) {
				min-width: 20px !important;
			}
		}
		@media (max-width: $md) {
			min-width: 100%;
		}
	}
	a {
		:hover {
			opacity: 0.8;
		}
	}
	@media (max-width: $md) {
		right: 0;
		left: 0;
		top: 0px;
		z-index: 100;
		animation-duration: 0.5s;
		width: 70%;
		a {
			font-size: 38px !important;
			text-align: start;
			&:hover {
				color: white !important;
				opacity: 1;
			}
		}
	}
}

.navbar {
	img {
		//set the logo and zoom icon to be no responsive
		max-width: initial;
		min-width: initial;
	}
	a {
		font-weight: 400 !important;
	}
	.logo {
		img {
			height: 15px !important;
		}
	}
	@media (min-width: $md) {
		//when is laptop make all smaller
		a {
			font-size: $px12 !important;
			margin: 0 10px !important;
		}
		.logo {
			img {
				max-width: 150px;
			}
		}
		.search-icon {
			max-width: 40px !important;
		}
	}
	@media (min-width: $lg) {
		//when is large make font larger
		a {
			font-size: $px16 !important;
		}
	}
	//mobile
	@media (max-width: $md) {
		top: 0px;
		right: 0px;
		width: 100%;
		background: black;
		z-index: 100;
		a {
			overflow: hidden;
		}
		.menu-item {
			@include item;
			a {
				height: 100%;
				min-width: 100%;
				margin: 0px !important;
				justify-content: flex-start;
				display: flex !important;
				align-items: center;
				color: #b5b5b8;
			}
		}
		//remove shadow from mobile
		&.fixed-top {
			box-shadow: none !important;
		}

		.btn-cta {
			width: auto;
			@media (max-width: $md) {
				width: 70%;
				margin: auto;
				margin-top: auto;
				padding: 3rem;
				margin-top: 2rem;
				///font-size: 38px !important;
			}
		}
	}

	#navbarCollapse {
		@media (max-width: $md) {
			padding-top: 2rem;
			.navbar-wrap {
				height: 100vh;
			}
			min-width: 100%;
			height: 100vh;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-basis: initial !important;
			flex-grow: initial !important;
			.container {
				display: flex;
				flex-direction: column;
				align-items: center !important;
				justify-content: center;
			}
		}

		.menu-primary {
			flex-grow: initial;
			flex-basis: initial;
			justify-content: space-evenly;

			a {
				text-decoration: none;
				display: inline-block;
				position: relative;
				font-family: Inter;
				font-style: normal;
				font-size: $px16;
				margin: 0 16px;
				font-weight: 700;
				line-height: 24px;
				white-space: nowrap;
				@media (max-width: $md) {
					color: #b5b5b8;
					font-size: 48px;
					font-family: Inter;
					font-weight: 700;
					justify-content: center !important;
				}
				&:hover {
					&:after {
						transform-origin: left top;
						transform: scale(1, 1);
						z-index: 100;
						@media (max-width: $md) {
							height: 5px;
						}
					}
				}
				&::after {
					position: absolute;
					left: 0;
					content: '';
					width: 100%;
					height: 2px;
					background: currentColor;
					bottom: -4px;
					transform: scale(0, 1);
					transition: transform 0.3s;
					transform-origin: right top;
				}
			}
		}
	}
	&.fixed-top {
		top: 0;
		position: fixed;
		animation-duration: 0.5s;
		box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
		background-color: black;
		animation-name: navbar;
	}

	/*------------------------------------*/
	/*  Hambumger animation
/*------------------------------------*/
	.bar {
		width: 35px;
		height: 2px;
		background-color: white;
		margin: 8px 0;
		transition: 0.4s;
	}

	:not(.collapsed) .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	:not(.collapsed) .bar2 {
		opacity: 0;
	}

	:not(.collapsed) .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
}

/*------------------------------------*/
/*  Menu Footer
/*------------------------------------*/
footer {
	#secundary-menu {
		ul {
			display: flex;
			flex-direction: row !important;
			flex-wrap: wrap;
			text-transform: capitalize;
			li {
				width: 50%;
			}
		}
	}
	#social-menu {
		//social
		#nav_menu-6 {
			min-width: 100%;
		}
		ul {
			justify-content: space-evenly;
			display: flex !important;
			flex-wrap: wrap;
			flex-direction: row;
			li {
				text-align: left;
				overflow: hidden;
				width: 50px;
				padding: 15px;
				text-indent: 150px;
				a {
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
	#menu-footer {
		a {
			margin: 0px;
		}
	}
	.widget-area {
		#nav_menu-4 {
			margin-bottom: 2rem !important;
			width: 80%;
			margin: auto;
		}
	}
	#copyright {
		@media (max-width: $md) {
			#block-4,
			#block-2 {
				margin: auto;
				.copyrights {
					margin: 20px auto;
				}
			}
		}
	}
}

/*------------------------------------*/
/*  NAV Colors
/*------------------------------------*/
.navbar-dark {
	color: white;
	a {
		color: white;
		&:hover {
			color: white;
		}
	}
}

.navbar-light {
	color: black;
	a {
		color: black;
		&:hover {
			color: black;
		}
		img {
			filter: invert(1);
		}
	}
}
/*------------------------------------*/
/*  smooth animation
/*------------------------------------*/
@keyframes navbar {
	from {
		top: -20px;
		opacity: 0.5;
	}
	to {
		top: 0px;
		opacity: 1;
	}
}

/*------------------------------------*/
/*  Search
/*------------------------------------*/
#searchform {
	display: flex;
	align-items: center;
	color: #fff;
	input {
		border: 0;
		background: 0 0;
		padding: 0;
		outline: none;
		text-align: left;
		display: flex;
		align-items: center;
		color: #fff;
		transition: width 1s ease-in-out;
		width: 0;
		&.extend {
			width: 140px;
			@media (min-width: $md) {
				width: 100px;
			}
		}
	}
}

/*------------------------------------*/
//Phone nomber should show only
//in some cases and mobile
/*------------------------------------*/
.phoneNumber {
	display: none;
	@media (max-width: $md) {
		display: block;
	}
}
