@import 'variables';
/*-----------------------------------------------------------------------------------*/
/*  Menu Header Logo and Menu
/*-----------------------------------------------------------------------------------*/
//when scroll down  make logo and header animation
.fixed-nav {
	#header-top {
		top: 0;
		transition: all 0.5s;
		position: fixed;
		box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
		width: 100%;
		background-color: white;
		display: flex;

		.logo {
			transition: all 0.6s;
			img {
				scale: 0.8;
				transition: all 0.6s;
			}
		}
	}
}

//Make logo and header animation when show menu
.show-menu {
	#header-top {
		top: 0;
		box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
		width: 100%;
		background-color: white;
		display: flex;
		.logo {
			img {
				scale: 0.8;
				transition: all 0.6s;
			}
		}
	}

	//move menu to center
	.menuMobile {
		transform: translateX(-100%);
		opacity: 1 !important;
		z-index: 999;
	}
	.sub-menu {
		display: block;
		height: auto;
		padding-left: 0rem !important;
	}
	//Rotate hamburger
	.button-inner-wrapper {
		position: relative;
		span {
			position: absolute;
			bottom: 50%;
			transition: transform 0.2s ease, background-color 0.5s ease, -webkit-transform 0.2s ease;
		}
		span:nth-child(1) {
			transform: rotate(45deg);
			transition: transform 0.2s ease, background-color 0.5s ease, -webkit-transform 0.2s ease;
		}
		span:nth-child(2) {
			transform: rotate(-45deg);
			transition: transform 0.2s ease, background-color 0.5s ease, -webkit-transform 0.2s ease;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*  Menu Header DESKTOP
/*-----------------------------------------------------------------------------------*/
#header-top {
	height: 110px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: pueple;

	@media (max-width: $md) {
		top: 0;
		transition: all 0.5s;
		position: fixed;
		box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
		width: 100%;
		background-color: #fff;
		display: flex;
	}
	.logo {
		max-width: 200px;
		img {
			transition: all 0.6s;
			padding: 0px;
			@media (max-width: $md) {
				scale: 0.8;
			}
		}
	}
	li {
		margin-right: 1rem;
	}
	li:last-child,
	li:nth-last-child(2) {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}

	.container {
		@include flexCenter;
		flex-direction: row;
		padding: 0px !important;
		justify-content: space-between;
		.show {
			.sub-menu {
				display: flex;
				position: absolute;
				height: auto;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				padding: 32px 30px 37px;
				top: 100%;
				border: none;
				background-color: #fff;
				margin-top: 24px;
				z-index: 999;
				& > a {
					color: black;
				}
			}
		}

		.menu-item-has-children {
			position: relative;

			&:after {
				content: '❯';
				font-size: 0.7rem;
				transform: rotate(90deg);
				position: absolute;
				right: 5%;
				transition: all 0.5s;
				color: $prim-purple;

				@media (max-width: $lg) {
					right: 0%;
				}
			}
		}
		.show {
			& > a {
				color: $teal;
			}
			.sub-menu {
				& > a {
					color: black;
				}
			}
			&:after {
				color: $teal;
				transform: rotate(270deg);
			}
		}

		@media (max-width: $lg) {
			section:nth-child(1) {
				flex: 2;
				min-width: 120px;
			}
			section:nth-child(2) {
				justify-content: center;
				align-items: center;
				display: flex;
			}
			.logo {
				max-width: initial;
			}
		}

		.logo {
			transition: all 0.5s;
			flex: initial;

			a {
				display: flex;
				justify-content: flex-start;
				align-content: center;
				margin: auto;
				padding: 0px;
				max-width: 90%;
				img {
					max-width: 200px;
					max-height: 66px;
				}
			}
		}

		//MOBILE button on header
		#menu-button {
			justify-content: center;
			align-items: center;
			min-width: 5rem;
			display: none;
			@media (max-width: $lg) {
				display: flex;
			}
			.button-inner-wrapper {
				width: 2rem;
				justify-content: space-evenly;
				align-items: center;
				flex-direction: column;
				transition: 2s ease;
			}
			/* Menu toggle button */
			.icon {
				line-height: 0;
			}
			.menu-icon {
				width: 100%;
				min-width: 100%;
				&:after,
				.menu-icon::before {
					background-color: $sec-purple;
					content: '';
					display: inline-block;
					height: 3px;
					width: 100%;
					margin: 2px 0;
					transition-duration: 0.5s;
				}
			}
		}
	}
	.reques-demo {
		margin-left: auto !important;
	}
}
#menu-primary {
	@media (min-width: $md) {
		font-size: 18px;
		li {
			margin-right: 0rem;
		}
	}
	@media (min-width: $xl) {
		margin-left: 100px;
	}
}
/*-----------------------------------------------------------------------------------*/
/*  main style
/*-----------------------------------------------------------------------------------*/

.navigation-main {
	display: flex;
	flex-direction: row;
	list-style: none;
	transition: all 0.3s;

	text-transform: capitalize;
	align-items: center;
	margin-bottom: initial !important;
	flex: 1;

	font-size: $px18;
	padding: 0px !important;

	a {
		font-family: $font-Avenir-heavy;
		line-height: initial !important;
		text-transform: initial;
	}
	&:hover {
		color: $teal;
	}

	@media (max-width: $lg) {
		margin-left: 0px;
		margin-top: 100px;
		display: none;
	}

	li {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-bottom: 0px;
		a {
			//padding: 0.688rem 1.8rem;
			padding: 1.2rem;
			color: #000;
			text-decoration: none;
			transition: all 0.3s;
			white-space: nowrap;
			max-height: 60px;
			&:hover {
				color: $teal;
			}

			@media (max-width: $lg) {
				padding: 0.688rem 1rem;
			}
		}
	}

	.sub-menu {
		list-style: none;
		display: none;
		background-color: $prim-purple;
		li {
			margin: 0px !important;
		}
	}

	:not(.menuMobile) {
		.menu-item-has-children {
			position: relative;
			&:after {
				font-size: 0.7rem;
				transform: rotate(90deg);
				position: absolute;
				right: 5%;
				transition: all 0.5s;
				color: #c6c6c6;

				@media (max-width: $lg) {
					right: 0%;
				}
			}
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*  Menu MOBILE
/*-----------------------------------------------------------------------------------*/

.menuMobile {
	position: fixed;

	left: 100%;
	width: 100%;
	opacity: 0 !important;
	transition: all 0.5s;
	z-index: 999;

	.container {
		display: flex;
		flex-direction: row;
	}
	.logo {
		min-height: 5rem;
		display: flex;
		flex: 2;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		min-width: 100%;
		list-style-type: none;
		margin: 0px;
		padding: 0px;

		font-size: $px24;
		background-color: $prim-purple;
		position: fixed;
		height: 100vh;
		justify-content: center;
		align-items: center;
		align-content: center;
		top: 0px;
	}
	.closeMenu {
		display: flex;
		justify-content: center;
		align-content: center;
		font-size: 2rem;
		min-width: 5rem;
		color: transparent;
		font-weight: 500;
	}

	.navigation-main {
		min-width: 80%;
		padding: 0px;
		display: flex;
		flex-direction: column;
		transition: max-height 1s;

		li > a {
			line-height: 3rem;
			&:hover {
				color: $teal;
			}
		}
		.menu-item {
			position: relative;
			flex-direction: column;
			display: flex;
			justify-content: center;
			align-items: baseline;
			margin-bottom: 5%;

			min-width: 100%;
			min-height: 50px;

			//Top links
			a {
				text-decoration: none;
				padding: 0.1rem;
				color: white;
				width: 70%;
				line-height: 3rem;
				font-size: $f_paragraph_title;
				display: flex;

				align-items: center;
				justify-content: flex-start;
			}

			.sub-menu {
				max-height: 0;
				opacity: 0;
				overflow: hidden;
				transition: all 1s;
				width: 100%;

				a {
					color: white;
					font-weight: lighter;
					margin-left: 20px;
					font-size: $f_paragraph_title;
					font-family: $font-Avenir;
					&:hover {
						color: $teal;
					}
				}
			}
		}
		.menu-item-has-children {
			&:after {
				content: '❯';
				transform: rotate(90deg);
				position: absolute;
				right: 20px;
				color: white;
				top: 1rem;
			}
			//parent
			a {
				font-weight: 700;
				font-family: $font-Bold;
				&:after {
					content: '';
				}
			}
		}
		.show {
			transition: all 1s;

			& > a {
				color: $teal;
			}
			&:after {
				//	content: '▼';
				color: $teal;
				transform: rotate(270deg) !important;
			}
		}

		// For Submenus
		.show {
			transition: all 1s;
			& > a {
				color: $teal;
			}
			&:after {
				//	content: '▼';
				color: $teal;
				transform: rotate(0deg);
				transition: all 1s;
				top: 1rem;
			}
			.sub-menu {
				display: flex;
				flex-direction: column;
				margin: 0px;
				padding: 0px;
				width: 100%;
				top: 85%;
				max-height: 300px;
				opacity: 1;
			}
		}
	}
	.button-outline,
	.button-purple {
		background-color: $prim-purple;
		border: 2px solid white;
		margin-top: 20px;
		a {
			width: 100% !important;
			justify-content: center !important;
		}
	}
}
