@import 'variables';
#our-work {
	.main-content {
		background-color: white;
	}
	.form {
		background-color: black;
	}
	.case_study {
		font-size: 16px;
		font-weight: 500;
		p {
			font-size: 16px;
		}
		a {
			color: black;
		}
		.title {
			text-transform: uppercase;
		}
	}

	.feature_post {
		strong {
			position: relative;
			font-size: $px28;
			line-height: 32px;
			text-decoration: none;
			background-image: linear-gradient(transparent calc(100% - 2px), #fff 2px);
			background-size: 0 100%;
			background-repeat: no-repeat;
			transition: background-size 0.5s;
			&:hover {
				background-size: 100% 100% !important;
			}
		}
		.card-body {
			strong {
				color: #fff;
				margin: 20px 0px 0px 0px;
				display: flex;
				min-height: 95px;
			}
			p {
				color: #ffffff91;
			}
		}
	}
	.block_caseStudy_imgBg {
		background-position: center;
		background-size: cover;
		@media (max-width: $md) {
			background-position: center;
			min-height: 400px;
		}
	}
	#carouseTestimonial {
		position: relative;
		z-index: 1;
		.text-wrap {
			p {
				font-size: $px50;
				line-height: 150%;
			}
		}
		.author {
			font-weight: 700;
			font-size: 16px;
			color: inherit;
		}
		.title {
			min-height: 120px;
			justify-content: flex-start;
			@media (max-width: $md) {
				min-height: auto;
			}
		}
		.slideNumber {
			font-weight: 700;
			font-size: $px24;
			color: inherit;
		}
		.content {
			p {
				font-size: $px35;
				line-height: 150%;
				@media (max-width: $md) {
					font-size: $px24;
				}
			}
		}
		.buttons {
			max-width: inherit;
			position: absolute;
			bottom: 0px;
		}
		.image_text {
			@media (max-width: $md) {
				flex-direction: column-reverse;
			}
			img {
				width: 575px;
				height: auto;
			}
		}
	}
	.testimonial {
		margin: 0px;
	}
	.carousel-item {
		padding-bottom: 100px;
	}
	.submenu {
		button {
			border: 0px;
			background-color: transparent;
			text-align: left;
			line-height: 150%;
			width: fit-content;
			@include link_style;
			font-size: 16px !important;
			&.active {
				color: white;
				filter: invert(1);
				background-size: 100% 100% !important;
			}
			&:hover {
				filter: invert(1);
			}
		}
	}

	////Mobile look
	@media (max-width: $md) {
		.submenu {
			min-width: 100%;
			display: flex;
			flex-direction: column;

			&:before {
				content: 'MENU ▼';
				width: 100%;

				max-width: 300px;
				margin: auto;
				text-align: center;
				display: flex !important;
				justify-content: center !important;
				align-items: center !important;
				cursor: pointer;
				border: 2px solid gray !important;
			}

			button {
				width: 100%;
				max-width: 300px;
				margin: auto;
				transition: all 1s;
			}
			&.hide {
				margin-bottom: 100px;
				&:before {
					content: 'MENU ▲';
				}
				button {
					max-height: 0px;
					overflow: hidden;
					display: none;
				}
			}
		}
	}
}
