#request-demo {
	text-align: center;

	.hbspt-form {
		margin-top: -40px !important;
		textarea,
		.hs-input {
			margin: 0px !important;
		}
	}
	.intern-pg {
		margin-top: 100px;
	}

	h1 {
		margin-bottom: $mb-titles;
	}
	.text {
		b,
		strong {
			color: $prim-purple;
		}
		margin-bottom: $mb-titles;
	}
	form {
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		max-width: 600px;

		fieldset {
			min-width: 100%;
			gap: 10px;
			margin: 10px auto;
			display: flex;
			@media (max-width: $md) {
				flex-direction: column;
				& > div {
					padding: 10px;
					min-width: 100%;
				}
			}
			.hs-form-field {
				position: relative;
				margin: 0px;
				label {
					font-size: 12px;
					position: absolute;
					left: 20px;
					top: -10px;
					color: gray;
					background-color: white;
					padding: 0px 10px;
				}
			}
		}
	}

	.hs-input {
		display: inline-block;
		width: 100%;
		max-width: initial;
		height: 40px;
		padding: 30px;
		font-weight: normal;
		line-height: 22px;
		color: #33475b;
		border: 1px solid #cbd6e2;
		box-sizing: border-box;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;
	}
	//Inputes 1 colum
	.form-columns-1 {
		display: flex;
		flex-wrap: wrap;
		min-height: 10px;
		label {
			position: relative !important;
			left: 0px !important;
			top: 0px !important;
		}
		ul {
			list-style: none;
			max-height: initial;
			display: flex;
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
			li {
				line-height: 1.5rem;
				position: relative;
				min-height: 40px;

				display: flex;
				width: 100%;
				max-width: 50%;
				padding: 0px;
				margin: 0px;
			}
		}
		.input {
			.hs-input,
			textarea {
				min-width: 100%;
				margin: 20px 0px;
			}
		}
		div {
			min-width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
		.hs_subscribe_to_updates {
			.inputs-list {
				min-width: 100%;
				li {
					min-width: 100%;
				}
			}
		}

		//checkbox
		.hs-form-checkbox-display {
			display: flex;
			min-width: 90%;
			input {
				max-width: 20px !important;
				min-width: initial !important;
				display: flex;
				margin: 0px !important;
				padding: 0px !important;
				height: initial !important;
			}
			span {
				margin-left: 20px;
			}
		}
		.hs_subscribe_to_updates {
			display: flex;
		}
	}

	.hs-button {
		background: $prim-purple;
		color: #fff;
		border: 3px solid transparent;
		border-radius: 3px;
		text-transform: uppercase;
		letter-spacing: 0.075em;
		padding: 1.2rem;
		padding-bottom: 1.2rem;
		margin: 0 0 20px;
		position: relative;
		text-align: center;
		z-index: 1;
		transition: all 0.3s;
		line-height: 1.5;
		min-width: 228px;
		text-decoration: none;
		padding-left: 5px;
		padding-right: 5px;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		&:hover {
			background-color: $teal;
		}
	}
	.hs-error-msgs {
		li {
			position: relative;
			label {
				left: 0px !important;
				top: 0px !important;
				padding: 0px !important;
			}
		}
	}
}
.container.requesDemo {
	max-width: 1140px;
}
