#searchform {
	display: flex;
	align-items: center;
	color: #fff;
	input {
		width: 140px;
		border: 0;
		background: 0 0;
		margin: 0 20px 0 0;
		padding: 0;
		outline: none;
		text-align: left;
		transition: width 1s ease-in-out;
		display: flex;
		align-items: center;
		color: #fff;
	}
}
