@import 'variables';
.home-hero {
	background-size: cover;

	.home-hero__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		text-align: center;
		padding-top: 110px;
		height: 600px;
		overflow: hidden;
		.home-hero__button {
			margin: 0px;
		}

		.home-hero__above-title {
			letter-spacing: 3px;
			text-transform: uppercase;
			line-height: 1.4;
			font-weight: 900;
			color: $prim-purple;
			font-size: 1rem;
			text-align: center;
			font-family: $font-Avenir-heavy !important;
		}

		//SLIDER
		#home-hero-desk-slides-content {
			position: relative;
			display: flex;
			//overflow: hidden;
			flex-direction: row;
			margin: 1rem 0px 2rem 0px;
			justify-content: flex-start;
			min-width: 100%;
			height: 200px;

			.home-hero__slide {
				display: flex;
				flex-direction: column;
				align-items: center;
				top: 0;
				opacity: 0;
				min-width: 100%;
				position: relative;
				transition: transform 2s ease, opacity 1s ease;

				.home-hero__title {
					margin-bottom: 20px;
					font-size: calc(2vw + 1vh + 2vmin);
					line-height: 1;
					//font-weight: 700;
					font-weight: bolder;
					font-family: $font-Bold;
					text-align: center;
					margin-top: 0px;
				}
				.home-hero__text {
					max-width: 770px;
					text-align: center;
					font-family: $font-Avenir-roman;
				}
			}
		}
	}

	// tabs
	.home-hero__criteria-container {
		#home-hero-desk-slides {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-content: center;
			align-items: flex-end;
			min-height: 80px;
			text-transform: capitalize;
			.home-hero__criteria {
				padding: 0 34px;
				border-radius: 0;
				margin: 0px 1rem;
				flex: 1;
				width: auto;
				max-width: 430px;

				height: 64px;
				text-transform: uppercase;
				display: flex;
				color: #fff;
				border: none;
				justify-content: center;
				align-items: center;
				transition: height 0.4s ease, background-color 0.5s ease;
				span {
					font-family: $font-Avenir-heavy !important;
					font-size: $px16 !important;
					letter-spacing: 0.075em !important;
				}

				@media (max-width: $md) {
					width: 12px;
					max-width: 12px;
					height: 12px !important;
					border-radius: 50%;
					margin-right: 12px;
					color: transparent;
					font-size: 0;
					outline: hidden;
					font-weight: 900;
					line-height: 1.3;
					letter-spacing: 1px;
					border: 1px solid;
					padding: 0px;
					margin: 0px 1rem 2rem 1rem;

					&:hover {
						height: auto;
					}
					span {
						display: none;
					}
				}
				&:hover {
					height: 75px;
					border-bottom: 3px solid #664fb7;
				}
			}
			.btn_active {
				height: 75px;
				border-bottom: 3px solid #664fb7;
			}
			.home-hero__criteria_brown {
				background-color: #e3beae;
			}
			.home-hero__criteria_sapphire {
				background-color: #5cc1c3;
			}
			.home-hero__criteria_blue_light {
				background-color: #7aacde;
			}
		}
	}
	.home-hero__slide {
		position: absolute !important;
		transform: translateX(150vw);
		transition: all 3s;
		height: 200px;
	}
	.slide_active {
		opacity: 1 !important;
		transform: translateX(0);
		transition: all 3s;
	}
	.slide_hidden {
		opacity: 0;
		transform: translateX(-150vw);
		transition: all 3s;
	}
}
