/** Redes sociales **/
.sr-text {
	display: none;
}
.sociales {
	margin-top: 2rem;
}
.sociales ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, 3rem);
	grid-column-gap: 1rem;
	justify-content: center;
}
@media (min-width: 768px) {
	.sociales ul {
		justify-content: end;
	}
}
.sociales a:before {
	content: '';
	display: inline-block;
	height: 3rem;
	width: 3rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 3rem;
}
.sociales a[href*='facebook.com']:before {
	background-image: url(img/icons/facebook.svg);
}
.sociales a[href*='twitter.com']:before {
	background-image: url(img/icons/twitter.svg);
}
.sociales a[href*='youtube.com']:before {
	background-image: url(img/icons/youtube.svg);
}
.sociales a[href*='instagram.com']:before {
	background-image: url(img/icons/instagram.svg);
}
