// Fonts
// ---------
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@font-face {
	font-family: 'Inter-Regular';
	font-display: swap;
}

@font-face {
	font-family: 'Inter-Medium';
	font-display: swap;
}

@font-face {
	font-family: 'Inter-Bold';
	font-display: swap;
}

@font-face {
	font-family: 'Inter-Black';
	font-display: swap;
}
