@import '../sass/typography';

$prim-purple: #664fb7;
$prim-purple-light: #d8d8ff;
$sec-purple: #3a2452;
$sec-purple-wach: #3a2452;
$menu-footer-sublink: #766686;
$prim-purple-less: #b3a7db;
$teal: #5dc1c3;
$tealdrk: #3fa9ac;
$dark: black;
$gray: #616060;
$light-blur: #7aacde;
$gray-darker: #212428;
$gray-lighter: #c4c4c4;
$menu-over: #aaa;
$highlight_color: #e8920b;
$bg_color: #181818;
$bg_high_color: #232323;

///line-height:
$lh_sm: 1rem;
$lh_md: 2.5rem;
$lh_lg: 3.75rem;

//Margin

$m-sm: 1rem;
$m-md: 1.688rem;
$m-lg: 1.8rem;

//Paddings
$p_sm: 2.25rem 0px;
$p_md: 4.25rem 0px;
$p_lg: 6.25rem 0px;

//gaps
$gap_sm: 0.25rem;
$gap_m: 1.25rem;
$gap_lg: 2.25rem;
// ==================================
// BREAK POINTS BASE BOOSTRAP
// ==================================
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
// ==================================================
// Fonts
// ==================================================

$font-Avenir-roman: 'Avenir-Roman', sans-serif;
$font-Avenir: 'Avenir-Book', sans-serif;
$font-Avenir-heavy: 'Avenir-Heavy', sans-serif;
$font-light: 'Brown-light', helvetica, Arial, sans-serif;
$font-Medium: 'Brown', sans-serif;
$font-italic: 'Brown-italic', helvetica, Arial, sans-serif;
$font-Bold: 'Brown', sans-serif;
$font-fair: 'PlayfairDisplay', Helvetica, Arial, sans-serif;
$font-fair-bold: 'PlayfairDisplay-bold', Helvetica, helvetica, Arial, sans-serif;

/*-----------------------------------------------------------------------------------*/
/*  Font sizes 
/*-----------------------------------------------------------------------------------*/

//font SIzes
$f_sm: 0.75rem; //12px
$f_sm2: 0.813rem; //12px
$f_md: 1.125rem; //18px
$f_paragraph: 1.125rem; //18px
$f_paragraph_title: 1.25rem; //18px
$f_md_subTitle: 1.5rem; //24px
$f_lg: 1.75rem; //28
$f_title_entry: 2rem; //32px

$f_h1: 3.75rem; //60px
$f_h2: 1.75rem; // 28px;
$f_h3: 1.25rem; //20px;
$f_h4: 1.375rem; //22;

///line-height: 1.5; line-height: 60px;
$lh: 1.875rem; //30
$lh_md: 2.5rem; //40
$lh_lg: 3.125rem; //50

//Margin
$m-l: 1.8rem; //30px
$m: 1.875rem; //30px
$mb-titles: 1.875rem; //30px
$m-block: 6.25rem auto;
$m-headline: 6.25rem auto;
$bottom_margin: 3.125rem; //50px
//Paddings
//$p: 6.25rem 0px;

//gaps
$general-gap: 1.25rem;
$big-gap: 2.5rem;

//Full bar size
$fullbar-small: 400px;
$fullbar-medium: 500px;

h1 {
	font-size: $f_h1; //60px
	line-height: $lh_lg;
}
h2 {
	font-size: $f_h2;
}
h3 {
	font-size: $f_h3;
}
h4 {
	font-size: $f_h4;
}
.sub-title {
	font-size: $f_md_subTitle; // 24px;
}

.block {
	margin: $m-block;
}
.block-padding {
	padding: $p_lg;
}

// ==================================================
// mixing
// ==================================================
@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
