@import '../sass/typography';

*,
*:before,
*:after {
	transition: all 0.5;
	box-sizing: border-box;
}

$prim-purple: #664fb7;
$prim-purple-light: #d8d8ff;
$sec-purple: #3a2452;
$sec-purple-wach: #3a2452;
$menu-footer-sublink: #766686;
$teal: #5dc1c3;
$tealdrk: #3fa9ac;
$dark: black;
$gray: #4d4d4d;
$gray-darker: #212428;
$gray-lighter: #aaa;
$menu-over: #aaa;
$highlight_color: #e8920b;
$bg_color: #181818;
$bg_high_color: #232323;
$bottom_margin: 50px;

// ==================================================
// BREAK POINTS BASE BOOSTRAP
// ==================================================

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// ==================================================
// Fonts
// ==================================================

$font-Avenir-roman: 'Avenir-Roman', sans-serif;
$font-Avenir: 'Avenir-Book', sans-serif;
$font-Avenir-heavy: 'Avenir-Heavy', sans-serif;
$font-light: 'Brown-light', helvetica, Arial, sans-serif;
$font-Medium: 'Brown', sans-serif;
$font-italic: 'Brown-italic', helvetica, Arial, sans-serif;
$font-Bold: 'Brown', sans-serif;
$font-fair: 'PlayfairDisplay', Helvetica, Arial, sans-serif;
$font-fair-bold: 'PlayfairDisplay-bold', Helvetica, helvetica, Arial, sans-serif;

/*-----------------------------------------------------------------------------------*/
/*  Font sizes 
/*-----------------------------------------------------------------------------------*/
h1 {
	font-size: 3.75rem; //60px
}
h2 {
	font-size: 1.75rem; // 28px;
}
h3 {
	font-size: 1.25rem; //20px;
}
h4 {
	font-size: 1.375rem; //22;
}
.sub-title {
	font-size: 1.5; // 24px;
}

//font SIzes
$f_sm: 0.75rem; //12px
$f_md: 1.125rem; //18px
$f_paragraph: 1.125rem; //18px
$f_paragraph_title: 1.25rem; //18px
$f_md_x: 1.5rem; //24px
$f_lg: 1.75rem; //28
$f_title_entry: 2rem; //32px
$f_sm_cal: calc(min(max(2vw + 1vh + 2vmin), 4.5rem));
$f_md_cal: 2.5rem;

///line-height: 1.5;
$lh: 1.688rem;
$lh_md: 2.5rem;

//Margin
$m-l: 1.8rem;
$m: 1.688rem;
$m-block: 6.25rem auto;
$m-headline: 6.25rem auto;
$p: 6.25rem 0px;
//gaps
$general-gap: 1.25rem;
$big-gap: 2.5rem;
