.special-Underline {
	text-decoration: underline;
	padding: 3px;
	border-radius: 3px;
}
.btn-register-popup {
	min-height: 50px;
	max-width: 200px;
	margin: auto;
	background: purple;
	content: 'registrate';
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.copyrights {
	min-height: 100px;
	background: gray;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
