@import 'variables';
@import '_global';
@import 'menu';
@import '_latest_post';
/*------------------------------------------*/
/*   BLog
/*------------------------------------------*/
#carouselAuthors {
	@media (max-width: $md) {
		margin-bottom: 50px;
		.buttons {
			bottom: -50px;
			height: 50px;
		}
	}
}
#blog-single {
	p {
		font-size: 18px;
		line-height: 29px;
	}
	.entry-content {
		h2 {
			font-weight: 700;
			font-size: 32px;
			line-height: 46px;
			margin-top: 56px;
			margin-bottom: 32px;
		}
	}
	.entry-header {
		min-height: 650px;
	}

	background-color: white;
	position: relative;
	z-index: 2;

	&:after {
		content: '';
		display: flex;
		width: 100%;
		height: 600px;

		background-color: var(--my-color-var);
		position: absolute;
		z-index: -1;
		top: 0px;
	}
	img:nth-of-type(1) {
		display: flex;
		max-width: 716px;
		margin: 3rem auto;
		width: 100%;
	}
	.entry-header {
		.author_name {
			a {
				color: #fff;
				font-size: $px24;
				text-decoration: none;
			}
		}
		.categories {
			a {
				color: #fff;
				font-size: 0.8rem;
				font-weight: 700;
				text-decoration: none;
				text-transform: uppercase;
				&::after {
					content: ',';
				}
			}
			a:last-child {
				&::after {
					content: '';
				}
			}
		}
		.entry-title {
			color: white;
			max-width: 920px;
			display: flex;

			font-style: normal;
			font-weight: bold;
			font-size: $px60;
			line-height: 130%;
		}
	}
	.entry-content {
		max-width: 647px;
		margin: auto;
	}
	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		& a {
			background-color: #fafafa;
			color: #484848;
			padding: 0.5rem;
			text-decoration: none;
		}
	}

	.categories {
		a {
			margin: 0px 5px;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

#blog {
	background-color: white;

	.btn-cta {
		background: black !important;
		color: white !important;
	}

	@mixin smalltitle {
		font-style: normal;
		font-weight: bold;
		font-size: 14px !important;
		line-height: 150%;
		text-align: center;
		text-transform: uppercase;
		color: #000000;
	}
	.smalltitle {
		@include smalltitle;
	}
	.rs_link_underline {
		filter: invert(1);
		justify-content: center;
		display: flex;
		max-width: 250px;
		margin: auto;
		white-space: nowrap;
	}

	header {
		.links-with-line {
			@include link_style;
			color: white;
			font-style: normal;
			font-weight: bold;
			font-size: $px48 !important;
			line-height: 150%;
			@media (max-width: $md) {
				font-weight: 500;
				line-height: 1.2;
				font-size: $px30 !important;
			}
		}
		.excerpt {
			color: white;
		}

		h3 {
			@include smalltitle;
		}
	}
	//get lates post

	.main-header {
		.col {
			max-height: 500px;
		}
		.author {
			&-info {
				a {
					display: flex;
					color: white;
				}
			}

			&-img {
				max-width: $px48;
			}

			&-post-date {
				display: flex;
				font-style: normal;
				font-weight: normal;
				font-size: $px16 !important;
				line-height: 150% !important;
				color: #ffffff;
			}
		}
	}
}

.card {
	.title,
	.author_name a {
		color: black;
	}
}
.wantToWork {
	align-items: center;
	border-top: 1px solid rgba(128, 129, 131, 0.26);
	border-bottom: 1px solid rgba(128, 129, 131, 0.26);
	display: flex;
	margin: 10rem auto;
	&_pic {
		border-radius: 100%;
		max-width: 184px;
		height: 184px;
		background-size: cover;
	}
	&_name {
		font-weight: 600;
		font-size: 1.5rem;
		margin: 0;
	}
}

.category {
	.card-text,
	.content {
		min-height: 230px !important;
	}
	.news-header {
		background-color: #c1c1c1;
	}
}
.contactUs {
	filter: invert(1);
	border: none !important;
	&:hover {
		border: none !important;
	}
}
