@import '_variables';
@import '_glossary';
@import '_university';
@import '_partners';
@import '_programs';
@import '_product';

@import '_guide';
@import '_customer-stories';
@import '_request-demo';
@import '_our_value';
@import '_integrations';
@import '_about';
@import '_blog';
@import '_integrated-audit';
@import '_startup-page';
@import '_contact-us.scss';
@import '_ebook-page.scss';
@import '_legal.scss';
@import '_landing-podcast.scss';
@import 'global';
@import 'intern_ver2';
@import 'laika-products';
@import 'customer-success';
/*-----------------------------------------------------------------------------------*/
/*   Sports News 	@media (max-width: $md) {
/*-----------------------------------------------------------------------------------*/
.page-template {
	a {
		color: $prim-purple;
		transition: all 0.3s;
		text-decoration: none;
	}
	#header-top {
		background-color: white;
	}
}
.intern-pg {
	min-height: 800px;
	background-color: #fefefe;
	.row {
		@media (max-width: $md) {
			padding: 20px;
		}
	}
}
.single-post {
	.headline {
		height: auto !important;
	}
}
#guide-download {
	background-color: white !important;
	.intro-banner {
		h1 {
			margin-bottom: initial !important;
			margin-top: initial !important;
		}
	}
}

#thank-you {
	.headline {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: white;
	}
	h2,
	h3 {
		color: white;
	}
}
